@charset "utf-8";
@import url(/css/reset.css);

dl>dd::before {
  content: "• ";
}

.alpha>div {
  counter-increment: alpha;
  text-indent: 1em;
}

.alpha>div::before {
  content: counter(alpha, upper-alpha) ": ";
}

:has(> .icon-keyboard) {
  margin-top: 2rem;
}