#back2top {
  position: fixed;
  right: 2rem;
  bottom: -10rem;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--warn-color);
  border-radius: 50%;
  transition: 0.5s;
  z-index: 99;
}

#back2top::before {
  content: '';
  position: absolute;
  inset: 0px;
  border: 1px solid var(--warn-color);
  border-radius: 50%;
}

#back2top.active {
  bottom: 4rem;
}

#back2top:hover::before {
  animation: fade-out 0.8s ease-in-out infinite;
}

@keyframes fade-out {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}