@charset "utf-8";

:root {
    --main-color: #4bc2ce;
    --warn-color: #f25e44;
    --blue-color: #34ace0;
    --pre-color: #dcdcaa;
    --bg-color: #fff;
    --txt-color: #111;
    --w: 1024px;
    --p-m-g: 12px;
    --nav-h: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alibaba PuHuiTi", "Source Han Serif", "Source Han Sans", "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--main-color);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-size: 1.6rem;
    background-color: #f0f0f0;
    color: var(--txt-color);
    text-align: justify;
    line-height: 2;
    counter-reset: tbl-sn img-sn;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(var(--main-color, #333), var(--blue-color));
    border-radius: 4px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    transition: 400ms ease-in-out;
    padding: var(--p-m-g);
    height: 270px;
    border-bottom: 1px solid #e5e5e5;
    background-color: var(--main-color);
    background-image: url(/imgs/banner.png);
    background-size: cover;
    color: var(--bg-color);
}

section,
.p1 {
    padding: var(--p-m-g);
}

figure {
    margin: 6rem auto;
    text-align: center;
    counter-increment: img-sn;
}

figcaption {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 2rem;
}

figcaption::before {
    content: "图" counter(img-sn) " ";
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    counter-increment: tbl-sn;
    border: 2px solid var(--table-color, #000);
    margin: 4rem auto;
}

caption {
    text-align: center;
    font-size: 1.4rem;
}

caption::before {
    content: "表" counter(tbl-sn) " ";
}

th,
td {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border: 1px solid var(--table-color, #000);
}

table.line3 {
    border: none;
    border-top: 2px solid var(--table-color, #000);
    border-bottom: 2px solid var(--table-color, #000);
}

table.line3 th,
table.line3 td {
    border: none;
}

table.line3 thead th {
    border-bottom: 1px solid var(--table-color, #000);
    text-transform: capitalize;
}

table.zebra,
table.zebra th,
table.zebra td {
    border: none;
}

table.zebra tbody>tr:nth-child(odd) {
    background-color: #f2f2f2;
}

strong,
.warn {
    color: var(--warn-color);
}

.w {
    width: 100%;
    max-width: var(--w);
    margin: 0 auto;
    background-color: var(--bg-color);
}

.main-nav {
    position: sticky;
    top: 0;
    height: var(--nav-h);
    display: flex;
    justify-content: flex-end;
    gap: var(--p-m-g);
    align-items: center;
    padding: 0 var(--p-m-g);
    z-index: 99;
    background-color: #fff;
}

.nav-item {
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    color: var(--main-color);
}

.nav-item.active {
    border-color: var(--main-color);
}

.chap {
    padding: 6rem 1rem 1rem;
    background-color: var(--main-color);
    color: #fff;
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    padding: var(--p-m-g);
}

.grid a {
    display: block;
}

.item {
    display: flex;
    align-items: center;
}

.item::before {
    content: attr(data-title);
    order: 2;
}

.item::after {
    content: '';
    flex: 1;
    height: 3px;
    background-image: url(/imgs/dot.png);
    background-repeat: repeat-x;
}

.tips {
    background-color: var(--tips-color);
    padding: var(--p-m-g);
    border-left: 4px solid var(--tips-bold-color);
    margin: 4rem auto;
}

.demo::before {
    content: '[示例]';
    color: var(--warn-color);
}

pre {
    color: var(--pre-color);
    padding: var(--p-m-g);
    background-color: var(--txt-color);
    border-radius: 6px;
    font-family: "Inconsolata", "Courier New", Courier;
    overflow: auto;
    margin: var(--p-m-g) auto;
}

pre::-webkit-scrollbar {
    height: 4px;
    background-color: #fff;
}

pre::-webkit-scrollbar-thumb {
    background-color: var(--pre-color);
}

.bold {
    font-weight: 600;
}