.box {
    text-align: center;
    color: #a8e073;
    font-size: 2rem;
    font-weight: 700;
    line-height: 12rem;
    border: 1rem solid #a8e073;
}

ol {
    padding-left: 1rem;
}

.warn {
    color: #a52a2a;
    font-weight: 700;
}

ul li {
    text-transform: capitalize;
}

#nav {
    display: flex;
    width: 80%;
    max-width: 80vw;
    margin: 0 auto;
}

#nav>li:hover {
    background-color: #f40;
}

#nav>li {
    margin: 0 1rem;
}

.item1~li {
    color: #078;
}

.item3+.item4 {
    color: #4f0;
}

.sub-nav li:nth-child(2) {
    text-decoration: underline;
}

.sub-nav>li:hover {
    text-shadow: 0 0 .4rem rgb(255, 68, 0);
}

@media screen and (max-width:768px) {
    .nav>li {
        margin: 0 .4rem;
    }
}