.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 1rem;
}

.item {
  width: 12rem;
  height: 12rem;
}

.linear div:nth-child(1) {
  background-image: linear-gradient(#f40, #ff0);
}

.linear div:nth-child(2) {
  background-image: linear-gradient(0deg, #f40, #ff0);
}

.linear div:nth-child(3) {
  background-image: linear-gradient(45deg, #f40, #ff0);
}

.linear div:nth-child(4) {
  background-image: linear-gradient(45deg, #f40 50%, #ff0 0);
}

.linear div:nth-child(5) {
  background-image: linear-gradient(45deg, #fff 15px, #f40 0);
}

.linear div:nth-child(6) {
  background-image: linear-gradient(-45deg, #fff 15px, #f40 0);
}

.linear div:nth-child(7) {
  background-image: linear-gradient(135deg, #fff 15px, #f40 0);
}

.linear div:nth-child(8) {
  background-image: linear-gradient(-135deg, #fff 15px, #f40 0);
}

.linear div:nth-child(9) {
  background: linear-gradient(-135deg, transparent 15px, #f40 0) top, linear-gradient(-45deg, transparent 15px, #f40 0) bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.linear div:nth-child(10) {
  background: linear-gradient(135deg, transparent 15px, #f40 0) top, linear-gradient(45deg, transparent 15px, #f40 0) bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.linear div:nth-child(11) {
  background: linear-gradient(-135deg, transparent 15px, #f40 0) bottom, linear-gradient(-45deg, transparent 15px, #f40 0) top;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.linear div:nth-child(12) {
  background: linear-gradient(135deg, transparent 15px, #f40 0) bottom, linear-gradient(45deg, transparent 15px, #f40 0) top;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.linear div:nth-child(13) {
  background: linear-gradient(-135deg, transparent 15px, #f40 0) right top, linear-gradient(-45deg, transparent 15px, #f40 0) right bottom, linear-gradient(135deg, transparent 15px, #f40 0) left top, linear-gradient(45deg, transparent 15px, #f40 0) left bottom;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.linear div:nth-child(14) {
  background: linear-gradient(-135deg, transparent 15px, #f40 0) right bottom, linear-gradient(-45deg, transparent 15px, #f40 0) right top, linear-gradient(135deg, transparent 15px, #f40 0) left bottom, linear-gradient(45deg, transparent 15px, #f40 0) left top;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.radial div:nth-child(1) {
  background-image: radial-gradient(#f40, #ff0);
}

.radial div:nth-child(2) {
  background-image: radial-gradient(at left top, #f40, #ff0);
}

.radial div:nth-child(3) {
  /* 元素对角线的长度 */
  background-image: radial-gradient(at left top, #f40 50%, #ff0 0);
}

.radial div:nth-child(4) {
  background-image: radial-gradient(at left top, #f40 141.4px, #ff0 0);
}

.radial div:nth-child(5) {
  background-image: radial-gradient(at left top, #f40 200px, #ff0 0);
}

.radial div:nth-child(6) {
  background-image: radial-gradient(at left top, #f40 50%, #ff0 0);
}

.radial div:nth-child(7) {
  background-image: radial-gradient(at left top, #f40 200px, #ff0 0);
}

.radial div:nth-child(8) {
  background-image: radial-gradient(100px, #f40, #ff0);
}

.radial div:nth-child(9) {
  background-image: radial-gradient(100px, #f40 50%, #ff0 0);
}

.radial div:nth-child(10) {
  background-image: radial-gradient(closest-side at 100px 50px, #f40 50%, #ff0 0);
}

.radial div:nth-child(11) {
  background-image: radial-gradient(closest-corner at 100px 50px, #f40 50%, #ff0 0);
}

.radial div:nth-child(12) {
  background-image: radial-gradient(farthest-side at 100px 50px, #f40 50%, #ff0 0);
}

.radial div:nth-child(13) {
  background-image: radial-gradient(farthest-corner at 100px 50px, #f40 50%, #ff0 0);
}

.rect-bg {
  height: 12rem;
  background: #f40;
  background-image: linear-gradient(90deg, #fff 50%, transparent 0), linear-gradient(0deg, #fff 50%, transparent 0);
  background-size: 20px 20px;
}

.dot-bg {
  height: 12rem;
  background: #fff;
  background-image: radial-gradient(2px, #f40 50%, transparent 0);
  background-size: 20px 20px;
}

@media (max-width:768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}