h2 {
  counter-increment: chap-sn;
}

h2::before {
  content: counter(chap-sn)'. ';
}

h3 {
  counter-increment: sec-sn;
  counter-reset: sub-sec-sn;
}

h3::before {
  content: counter(chap-sn)'.' counter(sec-sn)'. ';
}

h4 {
  counter-increment: sub-sec-sn;
}

h4::before {
  content: counter(chap-sn)'.' counter(sec-sn)'.' counter(sub-sec-sn)'. ';
}