@import url(./fonts_Poppins.css);

/* .code {
  color: #333;
  background-color: #fed;
  padding: 1rem;
  line-height: 2;
  margin: 1rem auto;
} */

.code figcaption {
  border-bottom: 1px solid #999;
}

pre {
  padding: 1rem;
  font-size: 14px;
  font-family: 'Popins', Helvetica, sans-serif;
  overflow-y: auto;
  overflow-x: auto;
  counter-reset: sn;
  background-color: #000;
  color: #dcdcaa;
  border-radius: 8px;
  line-height: 2;
  margin: 2rem 0;
}

.code pre span {
  counter-increment: sn;
}

.code pre span::before {
  content: counter(sn, decimal-leading-zero)'    ';
}