@import url(//at.alicdn.com/t/c/font_3859342_afpa16mjft.css);
@import url(../css/fonts_Michroma.css);
@import url(../css/reset2023.css);

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: var(--header-h);
  color: #fff;
  padding: var(--padding-margin);
  background-color: #f25e44;
  background: linear-gradient(315deg, #ff7b00 25%, #f25e44);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200%;
  height: 6px;
  background-image: linear-gradient(to right, #ff0 0%, #f00 50%, #ff0 100%);
  animation: roll 5s linear infinite alternate;
}

@keyframes roll {
  to {
    transform: translateX(-50%);
  }
}

a.link {
  color: var(--warn-color);
}

a.link::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  aspect-ratio: 1/1;
  background-image: url(../imgs/external-link.png);
  background-size: cover;
}

nav {
  display: flex;
}

.logo {
  margin-right: auto;
}

.chap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.8rem;
  height: var(--chap-h);
  padding: var(--padding-margin);
  color: #fff;
  background-color: var(--main-color);
  text-transform: capitalize;
  font-family: "Michroma";
}

dt.txt-center {
  text-align: center;
  font-size: 2rem;
  color: #41211c;
}

dt.txt-center::before,
dt.txt-center::after {
  content: ' ' '\2630' ' ';
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: var(--padding-margin);
  margin: 2rem auto;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: var(--padding-margin);
  margin: 2rem auto;
}

.col2 {
  columns: 300px 2;
}