/* @import url(//at.alicdn.com/t/c/font_3859342_a1zefhweue.css); */

:root {
  --main-color: #ff5d73;
  --txt-warn-color: #c81623;
  --nav-bg-color: #9f103a;
  --blue-color: #4bc2ce;
  --blue-light-color: #00b1b5;
  --tbl-color: #1abc9c;
  --yellow-color: #f1c40f;
  --bg-tips-color: #e3f7ef;
  --w-width: 1190px;
  --header-h: 25vh;
  --chap-h: 9vh;
  --padding: 1rem;
  --margin: 2rem;
  --scroll-bar-w: 1rem;
  --scroll-bar-r: 0.5rem;
}

body,
header,
div,
h1,
dl,
dt,
dd,
p,
table,
caption,
tr,
td,
th,
figcaption,
figure,
img,
h3,
h5 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: justify;
  font-family: "Alibaba PuHuiTi", "Source Han Serif", "Source Han Sans", "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
  line-height: 2;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

dl {
  line-height: 2;
  padding: var(--padding);
  text-align: justify;
}

dt {
  font-weight: 600;
  line-height: 3;
  margin-top: 3rem;
}

dt.txt-center {
  text-align: center;
  font-size: 2rem;
  color: #41211c;
}

dt.txt-center::before,
dt.txt-center::after {
  content: ' ' '\2630' ' ';
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid var(--tbl-color);
  border-bottom: 2px solid var(--tbl-color);
  margin: var(--margin) auto;
}

table th {
  text-align: left;
}

table tr:has(th) {
  border-bottom: 1px solid var(--tbl-color);
}

.warn {
  color: var(--txt-warn-color);
}

.tips {
  position: relative;
  background-color: #edf8db;
  padding: 10px;
  border-left: 4px solid #2ed573;
  margin: 2rem auto;
}

html {
  background-color: #fff;
}

body {
  background-color: #f2f3f4;
  font-size: 1.6rem;
}

body::-webkit-scrollbar {
  width: var(--scroll-bar-w);
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--blue-light-color), transparent);
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--padding);
  height: var(--header-h);
  color: #fff;
  background-color: var(--blue-color);
  background: linear-gradient(135deg, #0575E6, #00F260);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

header h1 {
  font-weight: normal;
  font-family: 'Michroma';
  font-size: 1.8rem;
}

header span {
  font-size: 1.5rem;
}

header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200%;
  height: 6px;
  background-image: linear-gradient(to right, var(--yellow-color) 0%, var(--blue-color) 50%, var(--yellow-color) 100%);
  animation: roll 5s linear infinite alternate;
}

@keyframes roll {
  to {
    transform: translateX(-50%);
  }
}

.container {
  position: relative;
  max-width: var(--w-width);
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}

.cont-wrap {
  padding: var(--padding);
}

.chap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: var(--chap-h);
  padding: 4px var(--padding);
  color: #fff;
  background-color: var(--blue-color);
  text-transform: capitalize;
  font-size: 1.8rem;
}

a.link {
  color: var(--txt-warn-color);
}

a.link::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  aspect-ratio: 1/1;
  background-image: url(../imgs/external-link.png);
  background-size: cover;
}

iframe {
  width: 100%;
  margin-top: 2rem;
}

.item {
  display: flex;
  align-items: center;
}

.item:hover {
  color: var(--blue-color);
}

.item::after {
  content: attr(data-title);
  order: 2;
  text-transform: capitalize;
}

.item::before {
  content: '';
  flex: 1;
  height: 3px;
  background-image: url(../imgs/dot.png);
  background-repeat: repeat-x;
  order: 1;
}

.indent {
  text-indent: 1em;
}

figure {
  margin: 2rem auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
}