body {
  perspective: 1000px;
}

.diagram-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: skewY(-2deg);
  margin: 5rem auto;
}

.diagram {
  position: relative;
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateX(-10deg) rotateY(-15deg);
  z-index: var(--ind);
}

.diagram div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
}

.diagram .f {
  width: 240px;
  height: 60px;
  transform: translateZ(60px);
  background-color: var(--bg, #fff);
  color: var(--color, #000);
}

.diagram .t {
  width: 240px;
  height: 120px;
  background-color: #f1f2f3;
  transform: rotateX(90deg) translateZ(30px);
}

.diagram .r {
  width: 120px;
  height: 60px;
  transform: rotateY(90deg) translateZ(120px);
  background-color: var(--bg, #ccc);
}

.diagram .bg {
  background-color: var(--main-color);
  color: #fff;
}