@import url(./reset.css);


header {
  height: 300px;
  background-image: url(../web/imgs/coolbg.png);
  background-size: cover;
  animation: glow 10s linear infinite alternate-reverse;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.w {
  margin-top: -8rem;
  padding-top: 4rem;
  border-top: 4px solid #ff0;
}

h1,
h4 {
  text-align: center;
  line-height: 2;
}

dl {
  position: relative;
  margin: -6rem auto 0;
}

dt {
  line-height: 4;
  counter-reset: dd-sn;
  font-weight: 600;
}

dt::before {
  content: '[ ';
}

dt::after {
  content: ' ]';
}

dd::before {
  content: '• ';
}