.w {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-h li {
    margin: 0 1rem;
}

.flex-h li:hover a {
    color: #ff0;
}

h2 {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    font-weight: normal;
    text-align: center;
    line-height: 2;
}

h2 a .icon {
    font-size: 1.2em;
    color: #c00;
}

h3 {
    line-height: 2rem;
    background-color: rgba(0, 128, 128, .2);
    padding-left: 1rem;
}

h4 {
    margin: 0;
}

.time-box {
    text-align: center;
    color: #666;
}

@media screen and (max-width:768px) {
    header.nav ul li {
        margin: 0 .5rem;
    }
}