@import url(./reset.css);


header {
  height: 400px;
  background-image: url(../web/imgs/coolbg.png);
  background-size: cover;
  animation: glow 10s linear infinite alternate-reverse;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

a {
  color: var(--warn-color);
  text-decoration: underline;
}

h1,
h4 {
  text-align: center;
}

h1 {
  padding-top: 5rem;
}

dt::before {
  content: '[ ';
}

dt::after {
  content: ' ]';
}

dd::before {
  content: '• ';
}

table {
  width: 100%;
  border-collapse: collapse;
  line-height: 40px;
}

th {
  background-color: var(--tbl-color);
  color: #fff;
  text-align: center;
}

td {
  text-align: center;
  border-bottom: 1px solid var(--tbl-color);
}

.w {
  margin-top: -6rem;
  border-top: 0.4rem solid var(--third-color);
  z-index: 1;
}

@media screen and (max-width:768px) {
  html {
    font-size: 60%;
  }

  header {
    height: 160px;
  }
}