@import url(../css/fonts_Quicksand.css);

:root {
  --main-color: #ff5d73;
  --warn-color: #ff5d73;
  --tbl-color: #e7828e;
  --tips-color: #edf8db;
  --bar-color: #27ae60;
  --bar-bg-color: #4bc2ce;
  --padding: 10px;
}

body,
header,
div,
main,
h1,
h4,
dl,
dt,
dd,
figure,
figcaption,
p,
pre {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-color: rgb(243, 244, 245);
}

body::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

body::-webkit-scrollbar-track {
  width: 8px;
  background: #ecf0f1;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: linear-gradient(#fff, var(--warn-color));
}

header {
  height: 300px;
  background-image: url(../web/imgs/coolbg.png);
  background-size: cover;
  animation: glow 10s linear infinite alternate-reverse;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: -6rem auto 0;
  position: relative;
  padding-top: 2rem;
  background-color: #fff;
  border-top: 6px solid var(--warn-color);
  z-index: 1;
}

.chap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.8rem;
  height: 9vh;
  padding: var(--padding);
  color: #fff;
  background-color: var(--bar-bg-color);
  text-transform: capitalize;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

h1,
h4 {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: normal;
}

dl {
  padding: 2rem;
  counter-reset: fig-sn;
}

dt {
  line-height: 4;
  counter-reset: dd-sn;
  font-weight: 600;
}

dt::before {
  content: '[ ';
}

dt::after {
  content: ' ]';
}


dd>div {
  counter-increment: dd-sn;
}

dd>div::before {
  content: counter(dd-sn)'. ';
}

a {
  color: var(--warn-color);
}

figure {
  margin: 2rem auto;
}

figure figcaption {
  counter-increment: fig-sn;
  text-align: center;
}

figure figcaption::before {
  content: 'å›¾' counter(fig-sn)' ';
}

figure img {
  border: 1px solid #ddd;
}

img {
  display: block;
  max-width: 100%;
  margin: 2rem auto;
  border-radius: 8px;
}

pre {
  color: #dcdcaa;
  font-family: 'Quicksand';
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-y: auto;
  overflow-x: auto;
  counter-reset: sn;
  border-radius: 8px;
  font-size: 14px;
}

pre.pre {
  position: relative;
  pointer-events: none;
}

pre.pre::before {
  content: 'Copy';
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 10px;
  background-color: #eee;
  color: #666;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.4s;
  line-height: 24px;
  font-size: 12px;
  pointer-events: all;
}

pre span::before {
  content: counter(sn, decimal-leading-zero)'    ';
  counter-increment: sn;
}

iframe {
  display: block;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  line-height: 40px;
}

th {
  background-color: var(--tbl-color);
  color: #fff;
  text-align: center;
}

td {
  text-align: center;
  border-bottom: 1px solid var(--tbl-color);
}

.warn {
  color: var(--warn-color);
}

.tips {
  background-color: var(--tips-color);
  border-left: 4px solid #2ed573;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.grid3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dot {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: #f40; */
  transform: translate(0px, -20px);
  z-index: 2;
}

.dot span {
  position: absolute;
  width: 2px;
  height: 20px;
  /* background-color: #ff0; */
  transform-origin: bottom;
  pointer-events: none;
  overflow: hidden;
}

.dot span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff0;
  animation: fadein 0.5s forwards;
}

@keyframes fadein {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@media screen and (max-width:768px) {
  html {
    font-size: 60%;
  }

  pre {
    pointer-events: unset;
  }

  pre::before {
    content: '';
  }

  header {
    height: 160px;
  }
}