@font-face {
  font-family: 'KaTeX_Math';
  src: url('/utils/font/KaTeX_Math/KaTeX_Math-Italic.woff2') format('woff2'),
    url('/utils/font/KaTeX_MathKaTeX_Math-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}