@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url(/utils/font/Lato/Lato-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url(/utils/font/Lato/Lato-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(/utils/font/Lato/Lato-Bold.ttf);
  font-display: swap;
}
