@font-face {
  font-family: 'FiraCode';
  font-weight: 300;
  src: url(/utils/font/Fira_Code_v6.2/ttf/FiraCode-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'FiraCode';
  font-weight: 400;
  src: url(/utils/font/Fira_Code_v6.2/ttf/FiraCode-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'FiraCode';
  font-weight: 600;
  src: url(/utils/font/Fira_Code_v6.2/ttf/FiraCode-Bold.ttf);
  font-display: swap;
}