@font-face {
  font-family: 'Inconsolata';
  font-weight: 400;
  src: url(/utils/font/Inconsolata/Inconsolata-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: 700;
  src: url(/utils/font/Inconsolata/Inconsolata-Bold.ttf);
  font-display: swap;
}