footer {
  width: 100%;
  font-size: 12px;
  display: flex;
  place-items: center;
  padding: 5rem 0;
}

footer img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 1rem;
}

footer div:first-child {
  flex: 1;
  text-align: right;
}

footer div:last-child {
  flex: 1;
  text-align: left;
}


@media screen and (max-width:768px) {
  footer {
    flex-direction: column;
  }

  footer img {
    order: -1;
  }
}