:root {
  --main-color: #0a0;
  --box-w: 900px;
  --card-w: calc(var(--box-w)/2);
  --gap: 10px;
  --margin: -113px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.iconfont {
  color: #a00;
}

a {
  text-decoration: none;
  color: inherit;
}

a::after {
  content: '\220e';
  color: var(--main-color);
}

a:hover {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: var(--box-w);
  gap: var(--gap);
  animation: updown 5s infinite;
}

@keyframes updown {
  50% {
    transform: translateY(30px);
  }

  0%,
  100% {
    transform: translateY(0);
  }
}

.box .card {
  width: var(--card-w);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  overflow: hidden;
  cursor: pointer;
  margin: 0 var(--margin);
}

.box .card:hover img {
  transform: scale(1.5);
}

.box .card:nth-child(2) {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.card img {
  width: 100%;
  display: block;
  transition: transform .5s;
}

.update {
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  height: 80vh;
}

.avatar {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  :root {
    --main-color: #0a0;
    --box-w: 350px;
    --gap: 5px;
    --margin: -43.5px;
  }

}