    @import url(//at.alicdn.com/t/c/font_3834292_0ld9r9es4w4b.css);
    @import url(/css/fonts_GreatVibes.css);

    :root {
      --main-color: rgba(255, 255, 255, 0.4);
      --active-color: #ffde00;
      --side-w: 120px;
      --p-m-g: 10px;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      font-family: Arial, Helvetica, sans-serif;
    }

    a {
      text-decoration: none;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background:
        linear-gradient(#0006, #0000 30% 70%, #0004) 50% 0% / 100% 60%,
        linear-gradient(hsl(0deg 50% 50%) 0 0) 50% 0% / 5vw 60%,
        linear-gradient(hsl(30deg 50% 50%) 0 0) 50% 0% / 15vw 60%,
        linear-gradient(hsl(60deg 50% 50%) 0 0) 50% 0% / 25vw 60%,
        linear-gradient(hsl(90deg 50% 50%) 0 0) 50% 0% / 35vw 60%,
        linear-gradient(hsl(120deg 50% 50%) 0 0) 50% 0% / 45vw 60%,
        linear-gradient(hsl(150deg 50% 50%) 0 0) 50% 0% / 55vw 60%,
        linear-gradient(hsl(180deg 50% 50%) 0 0) 50% 0% / 65vw 60%,
        linear-gradient(hsl(210deg 50% 50%) 0 0) 50% 0% / 75vw 60%,
        linear-gradient(hsl(240deg 50% 50%) 0 0) 50% 0% / 85vw 60%,
        linear-gradient(hsl(270deg 50% 50%) 0 0) 50% 0% / 95vw 60%,
        linear-gradient(hsl(300deg 50% 50%) 0 0) 50% 0% / 105vw 60%,
        radial-gradient(100vw 50vw, #0004, #0000),
        conic-gradient(from 170.5deg at 50% calc(60% - 14.8vw), hsl(0deg 50% 50%) 19deg, #0000 0) 0 100% / 100vw 100%,
        conic-gradient(from 153deg at 50% calc(60% - 14.8vw), hsl(30deg 50% 50%) 54deg, #0000 0),
        conic-gradient(from 140deg at 50% calc(60% - 14.8vw), hsl(60deg 50% 50%) 80deg, #0000 0),
        conic-gradient(from 130deg at 50% calc(60% - 14.8vw), hsl(90deg 50% 50%) 100deg, #0000 0),
        conic-gradient(from 123deg at 50% calc(60% - 14.8vw), hsl(120deg 50% 50%) 114deg, #0000 0),
        conic-gradient(from 118.5deg at 50% calc(60% - 14.8vw), hsl(150deg 50% 50%) 123deg, #0000 0),
        conic-gradient(from 114.5deg at 50% calc(60% - 14.8vw), hsl(180deg 50% 50%) 131deg, #0000 0),
        conic-gradient(from 111.5deg at 50% calc(60% - 14.8vw), hsl(210deg 50% 50%) 137deg, #0000 0),
        conic-gradient(from 109.2deg at 50% calc(60% - 14.8vw), hsl(240deg 50% 50%) 141.6deg, #0000 0),
        conic-gradient(from 107.3deg at 50% calc(60% - 14.8vw), hsl(270deg 50% 50%) 145.3deg, #0000 0),
        hsl(300deg 50% 50%);
      background-repeat: no-repeat;
      perspective: 800px;
      overflow: hidden;
    }

    h1 {
      position: fixed;
      left: 50%;
      top: 10vh;
      width: max-content;
      transform: translateX(-50%);
      font-family: 'GreatVibes';
      color: #fff;
      user-select: none;
      text-transform: capitalize;
    }

    .container {
      position: relative;
      width: var(--side-w);
      height: var(--side-w);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .cube {
      --offset-w: calc(var(--side-w)/2);
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      animation: roll 10s linear infinite;
      color: #fff;
      font-size: 24px;
    }

    @keyframes roll {
      to {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
      }
    }

    .container:hover .cube {
      --offset-w: 120px;
    }

    .nav {
      position: absolute;
      inset: 0;
      /* border-radius: var(--p-m-g); */
      /* background-color: var(--main-color); */
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
    }

    .item {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(calc(var(--x)*20px), calc(var(--y)*20px));
      transition: .4s calc(var(--delay)*0.06s);
      cursor: pointer;
    }

    .item span {
      opacity: 0;
      transform: scale(0);
      transition: .2s;
      font-size: 32px;
    }

    .container.active .cube {
      visibility: hidden;
    }

    .container.active .nav {
      visibility: visible;
    }

    .container.active .nav .item {
      width: 60px;
      height: 60px;
      transform: translate(calc(var(--x)*min(20vw, 90px)), calc(var(--y)*min(20vw, 90px)));
      pointer-events: all;
      background-color: var(--main-color);
    }

    .container.active .nav .item span {
      opacity: 1;
      transform: scale(1);
      color: #fff;
    }

    .container.active .nav .item:hover span {
      /* color: var(--active-color); */
      /* filter: drop-shadow(0 0 4px var(--main-color)); */
      transform: scale(1.4);
    }

    .side {
      position: absolute;
      inset: 0;
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid #fff;
      transition: 0.4s;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 0 10px 4px rgba(255, 255, 255, 1);
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
    }

    .side span {
      font-size: 3rem;
      color: #fff;
    }

    .side:nth-child(1) {
      transform: translateZ(var(--offset-w));
    }

    .side:nth-child(2) {
      transform: rotateY(180deg) translateZ(var(--offset-w));
    }

    .side:nth-child(3) {
      transform: rotateY(90deg) translateZ(var(--offset-w));
    }

    .side:nth-child(4) {
      transform: rotateY(-90deg) translateZ(var(--offset-w));
    }

    .side:nth-child(5) {
      transform: rotateX(90deg) translateZ(var(--offset-w));
    }

    .side:nth-child(6) {
      transform: rotateX(-90deg) translateZ(var(--offset-w));
    }

    /* snow */
    .star {
      position: fixed;
      bottom: 0;
      color: #fff;
      font-size: 20px;
      /* width: 10px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: #fff; */
      /* box-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #fff; */
      filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff) drop-shadow(0 0 30px #fff);
      animation: fall 12s linear forwards;
      pointer-events: none;
    }

    @keyframes fall {
      0% {
        transform: translateY(-100vh) rotate(0);
        opacity: 1;
      }

      50% {
        opacity: 1;
      }

      100% {
        transform: translateY(0px) rotate(360deg);
        opacity: 0;
      }
    }