* {
  margin: 0;
  padding: 0;
}
.box {
  width: 1000px;
  margin: 0 auto;
  font-size: 14px;
}
.box h2 {
  text-align: center;
  border-bottom: 3px solid #f40;
  color: #f40;
  transition: 0.5s;
}
.box h2:hover {
  border-bottom: 6px solid #098;
}
.box h2::after {
  content: '1234';
}
.box h2::before {
  content: '4321';
}
.box p {
  margin-bottom: 1rem / 50px;
  background-color: #666666;
  text-indent: 2em;
}
