@baseFontSize:50px;
@color:#f40;
@fs14:14px;
@border:1px+2;
*{
  margin: 0;
  padding: 0;
}
.box{
  width: 500px * 2; 
  margin: 0 auto; 
  font-size: @fs14;
  h2{
    text-align: center;
    border-bottom: @border solid #f40;
    color: @color;
    transition: .5s;
    &:hover{
      border-bottom: @border * 2 solid #098;
    }
    &::after{
      content: '1234';
    }
    &::before{
      content: '4321';
    }
  }
  p{
    margin-bottom: 1rem / 50px;
    background-color: #666 - #000;
    text-indent: 1em + 1;
  }
}