@charset "utf-8";
@import url(//at.alicdn.com/t/c/font_3468246_2giozviq19w.css);
@import url(../css/sn.css);
@import url(../css/fonts_Quicksand.css);

:root {
  --main-color: #c81623;
  --txt-wran-color: #c81623;
  --nav-bg-color: #9f103a;
  --w-width: 1000px;
}

html,
body,
ul,
li,
ol,
dl,
dd,
a,
p,
h1,
h2,
h3,
h4,
div,
input,
button,
aside,
textarea,
header,
section,
nav,
dt,
dd,
footer,
pre,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-weight: normal;
  font-family: "Alibaba PuHuiTi", "Source Han Serif", "Source Han Sans", "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  text-rendering: optimizeLegibility;
}

ul,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  /* text-decoration: none; */
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

header {
  display: flex;
  align-items: flex-end;
  height: 200px;
  padding: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

pre {
  width: 100%;
  font-family: 'Quicksand', Helvetica, sans-serif;
  line-height: 1.2;
  color: #dcdcaa;
  background-color: #000;
  padding: 1rem;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: auto;
  line-height: 2;
}

dl {
  padding: 1rem;
}

dt {
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 2;
  margin: 3rem auto 0rem;
}

dd {
  text-align: justify;
  margin-bottom: 10px;
  line-height: 1.5;
}

.dd-item {
  text-indent: 2em;
}

.dd-title-item {
  text-indent: unset;
  text-align: center;
  line-height: 2;
  background-color: var(--nav-bg-color);
  color: #fff;
  font-size: 1.05rem;
  font-weight: 400;
  border-radius: 6px;
  margin: 1rem auto;
}

.dd-img-item {
  box-shadow: 0 0 1rem #ddd;
  margin: 1rem auto;
}

.dd-diag-item {
  text-align: center;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.dd-case-item {
  background-color: #f3f3f3;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
}

.dd-iframe-item {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.dd-img-box {
  text-align: center;
}

.item-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.em {
  font-size: 120%;
  font-weight: 600;
}

img {
  max-width: 100%;
  object-fit: cover;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  line-height: 2;
}

th {
  text-transform: capitalize;

}

th,
td {
  border: 1px solid #666;
  font-size: 14px;
  padding-left: .4rem;
  padding-right: .4rem;
}

.cell-justify {
  display: flex;
  justify-content: space-between;
}

.container {
  background-color: #fff;
  width: var(--w-width);
  margin-left: auto;
  margin-right: auto;
}

.w {
  max-width: var(--w-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

a.flex-h {
  align-items: center;
}

a.flex-h:hover {
  color: rgb(0, 177, 181);
}

.warn {
  color: var(--txt-wran-color);
}

.link {
  color: var(--txt-wran-color);
  text-decoration: underline;
}

.link-page:hover {
  color: var(--txt-wran-color);
}

.iconfont {
  vertical-align: middle;
  font-size: 1.5rem;
}

.cont {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.cont::before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  box-shadow: -1px 0 2rem 1rem rgba(0, 0, 0, .1);
}

.cont::after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  box-shadow: 1px 0 2rem 1rem rgba(0, 0, 0, .1);
}

.chap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.2rem;
  height: 120px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #4bc2ce;
  background-size: cover;
  color: #fff;
  text-transform: capitalize;
}

.txt-center {
  text-align: center;
  margin: 1rem auto;
}

.txt-legend {
  text-align: center;
  font-size: 14px;
}

.txt-big {
  font-size: 120%;
}

.txt-bold {
  font-weight: 600;
}

.quote {
  position: relative;
  padding-left: 1rem;
}

.quote::before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #c8ccd0;
}

.iframe-box,
.dd-iframe-item {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0
}

iframe {
  display: block;
  width: 100%;
  margin-top: 2rem;
}

.p {
  line-height: 3;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid-icon {
  color: #e95420;
}

.grid2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid4 {
  grid-template-columns: repeat(4, 1fr);
}

.comment {
  background-color: #f46;
  color: #fff;
  padding: 1rem;
}

.end-line {
  display: flex;
  align-items: center;
  color: #999;
  margin: 2rem auto;
}

.end-line::before,
.end-line::after {
  content: '';
  flex: 1;
  height: 1px;
  border-bottom: 1px dotted #999;
}

.bg-gray {
  background-color: #f7f7f7;
}

.mt2,
.icon-demo {
  margin-top: 1rem;
}

.mb2 {
  margin-bottom: 1rem;
}

.point::before {
  content: '[';
}

.point::after {
  content: ']';
}

@media screen and (max-width:768px) {

  .w::before,
  .w::after {
    display: none;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  header {
    height: 120px;
    padding: 0.5rem;
  }

  dl {
    padding: 0.5rem;
  }

  dt {
    line-height: 50px;
  }

  .chap {
    height: 100px;
    padding-left: .5rem;
    padding-right: .5rem;
  }



  .grid2,
  .grid3,
  .grid4 {
    grid-template-columns: repeat(1, 1fr);
  }

}