@charset "utf-8";

:root {
    --txt-wran-color: #c81623;
    --nav-bg-color: #9f103a;
    --w-width: 1000px;
}

@font-face {
    font-family: 'iconfont';
    /* Project id 2357817 */
    src: url('//at.alicdn.com/t/font_2357817_vnj58adtcre.woff2?t=1654419573347') format('woff2'),
        url('//at.alicdn.com/t/font_2357817_vnj58adtcre.woff?t=1654419573347') format('woff'),
        url('//at.alicdn.com/t/font_2357817_vnj58adtcre.ttf?t=1654419573347') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
ul,
ol,
dl,
dd,
a,
img,
p,
h1,
h2,
h3,
h4,
div,
input,
button,
aside,
textarea,
header,
section,
nav,
dt,
dd,
footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    text-rendering: optimizeLegibility;
}

ul,
dl {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

dt {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

dd {
    text-align: justify;
    margin-bottom: .5rem;
    /* content-visibility: auto; */
    /* contain-intrinsic-size: 300px; */
}

dd+dt {
    margin-top: 1rem;
}

.dd-item {
    text-indent: 2em;
}

.dd-title-item {
    text-indent: unset;
    text-align: center;
    line-height: 2;
    background-color: var(--nav-bg-color);
    color: #fff;
    font-size: 1.05rem;
    font-weight: 400;
    border-radius: 6px;
    margin: 1rem auto;
}

.dd-img-item {
    box-shadow: 0 0 1rem #ddd;
    margin: 1rem auto;
}

.dd-diag-item {
    text-align: center;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.dd-case-item {
    background-color: #f3f3f3;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
}

.dd-iframe-item {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

img {
    width: 100%;
    object-fit: cover;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid #666;
}

th {
    font-weight: normal;
    text-transform: capitalize;
}

th,
td {
    border: 1px solid #666;
    font-size: 14px;
    padding-left: .4rem;
    padding-right: .4rem;
}

.w {
    width: var(--w-width);
}

.flex-h {
    display: flex;
    flex-direction: row;
}

.flex-v {
    display: flex;
    flex-direction: column;
}

.code {
    background-color: #f7f7f7;
    font-family: 'Ubuntu', sans-serif;
    margin: .5rem 0;
    font-size: .85rem;
    padding: .4rem 0;
    overflow-y: auto;
}

.warn {
    font-weight: 600;
    color: var(--txt-wran-color);
}

.link {
    color: var(--txt-wran-color);
    text-decoration: underline;
}

.link-page:hover {
    color: var(--txt-wran-color);
}

.cont {
    position: relative;
    padding: 0 1rem;
    flex: 1;
    /* margin: 0 auto; */
    background-color: #fff;
}

.cont::before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    box-shadow: -1px 0 2rem 1rem rgba(0, 0, 0, .1);
}

.cont::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    box-shadow: 1px 0 2rem 1rem rgba(0, 0, 0, .1);
}

.chap {
    display: flex;
    align-items: flex-end;
    font-size: 1.2rem;
    font-weight: normal;
    height: 120px;
    padding: 1rem;
    background-color: rgba(30, 205, 151, 1);
    background-size: cover;
    border-radius: 1rem;
    color: #fff;
    margin-top: 1rem;
}

.quote {
    position: relative;
    padding-left: 1rem;
}

.quote::before {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #c8ccd0;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.p {
    line-height: 3;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.grid {
    display: grid;
    gap: 1rem;
}

.grid-icon {
    color: #e95420;
}

.grid2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid4 {
    grid-template-columns: repeat(4, 1fr);
}

.copyright {
    font-size: 12px;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}

.copyright img {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0 1rem;
}

.copyright .copyright-item:first-child {
    flex: 1;
    text-align: right;
}

.copyright .copyright-item:last-child {
    flex: 1;
    text-align: left;
}

.end-line {
    display: flex;
    align-items: center;
    color: #999;
    margin: 1rem auto;
}

.end-line::before,
.end-line::after {
    content: '';
    flex: 1;
    height: 1px;
    border-bottom: 1px dotted #999;
}

@media screen and (max-width:768px) {
    html {
        font-size: 14px;
    }

    dt {
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    .chap {
        height: 100px;
        margin-top: .5rem;
        margin-bottom: .5rem;
        padding: .5rem;
    }

    .w {
        width: 100vw;
    }

    .w::before,
    .w::after {
        display: none;
    }

    .copyright {
        display: flex;
        flex-direction: column;
    }

    .copyright img {
        order: 1;
    }

    .copyright .copyright-item:first-child {
        order: 2;
    }

    .copyright .copyright-item:last-child {
        order: 2;
    }

    .grid2,
    .grid3,
    .grid4 {
        grid-template-columns: repeat(1, 1fr);
    }

}