@import url(//at.alicdn.com/t/c/font_3869861_c90ekv7ygv.css);

:root {
  --tbl-color: #1b9fab;
  --tbl-bg-color: #f7f7f7;
  --tbl-border-color: #ddd;
  --w-width: 1024px;
  --header-h: 500px;
  --p-m-g: 10px;
}

a {
  text-decoration: underline;
}

header {
  background-image: url(/utils/wallpaper/w2.jpg);
  background-position: center;
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200%;
  height: 4px;
  background-image: linear-gradient(to right, #ff0 0%, var(--main-color) 50%, #ff0 100%);
  animation: roll 4s linear infinite alternate;
}

@keyframes roll {
  to {
    transform: translateX(-50%);
  }
}

dt {
  position: sticky;
  top: 0vh;
  background-color: #fff;
  line-height: 3;
  z-index: 1;
}

.max-600 {
  max-width: 600px;
}

.quote {
  border-left: 4px solid var(--main-color);
  padding-left: 1em;
  margin: 2em;
}

.quote div {
  margin-bottom: 1em;
}

.quote div>span {
  font-weight: 600;
}

.quote p {
  text-indent: 2em;
  margin-bottom: 1em;
}

.eva-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--p-m-g);
  justify-content: center;
  height: 30px;
  border-radius: 30px;
  margin: var(--p-m-g) auto;
  font-size: 1.4rem;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 2px;
}

.eva-bar {
  width: calc(var(--per) * 1%);
  height: 100%;
  background-color: var(--main-color, #3498db);
  border-radius: 30px;
  opacity: var(--alpha, 1.0);
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 38px;
  height: 350px;
}

.cell-item-wrap {
  display: flex;
  justify-content: center;
  gap: var(--p-m-g);
}

.cell-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 56px;
  background-color: #fff;
  filter: drop-shadow(0 0 1px #333);
  cursor: pointer;
  user-select: none;
  transition: filter 0.5s;
}

.cell-item::before,
.cell-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fff;
}

.cell-item::before {
  transform: rotate(120deg);
}

.cell-item::after {
  transform: rotate(-120deg);
}

.cell-item:hover {
  filter: drop-shadow(0 0 4px var(--main-color));
}

.cell-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cell-icons * {
  position: absolute;
  transition: 0.5s;
}

.cell-icons span {
  font-size: 3rem;
  color: var(--main-color);
  transform: scale(1);
}

.cell-icons p {
  font-size: 1.8rem;
  transform: scale(0);
}

.cell-item:hover span {
  transform: scale(0);
}

.cell-item:hover p {
  transform: scale(1);
}