@import url(//at.alicdn.com/t/c/font_3869861_rz8j4xt3ab.css);

:root {
  --main-color: #e15f41;
  --second-color: #e77f67;
  --warn-color: #C91F37;
  --tbl-color: #1b9fab;
  --tbl-bg-color: #f7f7f7;
  --tbl-border-color: #ddd;
  --w-width: 1024px;
  --header-h: 25vh;
  --p-m-g: 10px;
}

body,
dl,
dd,
div,
header,
a,
p,
h1,
h2,
h3,
h4,
h5,
table,
thead,
tbody,
tfoot,
label,
tr,
th,
td,
img,
figure,
figcaption,
pre {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alibaba PuHuiTi", "Source Han Serif", "Source Han Sans", "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
  line-height: 2;
  -webkit-tap-highlight-color: transparent;
}

.w {
  width: 100%;
  max-width: var(--w-width);
  margin: 0 auto;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

a.link,
a:hover {
  color: var(--warn-color);
  border-bottom: 1px solid var(--warn-color);
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  counter-increment: tbl-sn;
}

thead tr {
  border-bottom: 2px solid var(--main-color);
}

tr th:not(:first-child) {
  text-align: left;
}

tr td:first-child {
  text-align: center;
}

table th,
table td {
  padding: 0 var(--p-m-g);
}

tbody tr:nth-child(even) {
  background-color: var(--tbl-bg-color);
}

caption {
  font-size: 1.5rem;
}

caption::before {
  content: '表' counter(tbl-sn)' ';
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
  background-color: #eee;
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: #eee;
  font-size: 1.6rem;
  z-index: 1;
  counter-reset: tbl-sn;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--main-color), transparent);
  border-radius: 4px;
  cursor: pointer;
}

header {
  position: sticky;
  top: -15vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: var(--header-h);
  color: #fff;
  padding: var(--p-m-g);
  background-color: var(--main-color);
  background-image: url(/utils/xinhua/xh7.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  line-height: 1;
  z-index: 99;
}

header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200%;
  height: 4px;
  background-image: linear-gradient(to right, #ff0 0%, var(--main-color) 50%, #ff0 100%);
  animation: roll 4s linear infinite alternate;
}

header h1 {
  line-height: 1;
  font-size: 2.2rem;
}

@keyframes roll {
  to {
    transform: translateX(-50%);
  }
}

dl {
  background-color: #fff;
  padding: var(--p-m-g);
  text-align: justify;
}

dt {
  position: sticky;
  top: 10vh;
  background-color: #fff;
  z-index: 1;
  font-weight: 600;
  line-height: 3;
  margin-top: calc(4*var(--p-m-g));
}

.warn {
  color: var(--warn-color);
}

.overview {
  max-width: 600px;
  margin: var(--p-m-g) auto;
  border-collapse: separate;
  border: none;
}

.overview td {
  padding: 0 var(--p-m-g);
  background-color: var(--tbl-bg-color);
  text-align: center;
}

.overview td:first-child {
  background-image: linear-gradient(var(--second-color), var(--main-color));
  color: #fff;
  text-align-last: justify;
}

.quote {
  border-left: 4px solid var(--main-color);
  padding-left: 2em;
  margin: 2em;
}

.quote div {
  margin-bottom: 1em
}

.quote div>span {
  font-weight: 600;
}

.quote p {
  text-indent: 2em;
  margin-bottom: 1em;
}

.link {
  border-bottom: 1px solid var(--warn-color);
}

.txt-right {
  text-align: right;
}

.rec {
  columns: 150px 2;
}

.rec div::before {
  content: '\e6e7' ' ';
  font-family: 'iconfont';
  color: var(--main-color);
}

.tips div::before {
  content: '\e648' ' ';
  font-family: 'iconfont';
  color: var(--main-color);
}

.del {
  text-decoration: line-through;
}

.sn {
  counter-reset: list-sn;
}

.sn>div {
  counter-increment: list-sn;
}

.sn>div::before {
  content: counter(list-sn)'. ';
}


.agenda tr:not(:has(th)) {
  counter-increment: week-sn;
}

.agenda tr td:first-child::before {
  content: counter(week-sn);
}

.value {
  width: 100%;
  max-width: 600px;
  margin: var(--p-m-g) auto;
}

.item,
.eva-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--p-m-g);
  justify-content: center;
  height: 30px;
  border-radius: 30px;
  margin: var(--p-m-g) auto;
  font-size: 1.4rem;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 2px;
}

.eva-bar {
  width: calc(var(--per)*1%);
  height: 100%;
  background-color: var(--main-color);
  border-radius: 30px;
  opacity: var(--alpha);
}

.item::before {
  content: '';
  width: calc(var(--per)*1%);
  height: 100%;
  background-color: var(--color);
  border-radius: 30px;
  order: 0;
}

.item::after {
  content: attr(data-val);
  order: -1;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 38px;
  height: 350px;
}

.cell-item-wrap {
  display: flex;
  justify-content: center;
  gap: var(--p-m-g);
}

.cell-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 56px;
  background-color: #fff;
  filter: drop-shadow(0 0 1px #333);
  cursor: pointer;
  user-select: none;
  transition: filter 0.5s;
}

.cell-item::before,
.cell-item::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #fff;
}

.cell-item::before {
  transform: rotate(120deg);
}

.cell-item::after {
  transform: rotate(-120deg);
}

.cell-item:hover {
  filter: drop-shadow(0 0 4px var(--main-color));
}

.cell-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cell-icons * {
  position: absolute;
  transition: 0.5s;
}

.cell-icons span {
  font-size: 3rem;
  color: var(--main-color);
  transform: scale(1);
}

.cell-icons p {
  font-size: 1.8rem;
  transform: scale(0);
}

.cell-item:hover span {
  transform: scale(0);
}

.cell-item:hover p {
  transform: scale(1);
}

@media (max-width: 768px) {
  .ale-tbl :where(thead, tbody, tr, td, th) {
    display: block;
  }

  /* .ale-tbl caption, */
  .ale-tbl thead tr {
    display: none;
  }

  .ale-tbl tbody td {
    display: flex;
    justify-content: space-between;
  }

  .ale-tbl tbody td::before {
    content: attr(data-label);
  }

  .ale-tbl tbody td:not(:last-child) {
    border-bottom: 1px solid var(--tbl-border-color);
  }
}