h1 {
    line-height: 6rem;
}

.countdown-box {
    font-size: 1rem;
    flex: 1;
}

.title {
    line-height: 1.5;
    box-shadow: 0 2px #f40, 0 6px #f406;
    border-bottom: 2px solid #f40;
    margin: 1rem 0;
}

.cont {
    color: #333;
    text-indent: 2em;
    text-align: justify;
}

.cont:last-child {
    text-indent: unset;
}

.img-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.bg {
    padding: 0 .4rem;
    background-color: rgb(255, 99, 71);
    color: #fff;
    font-size: 2rem;
}

footer.w {
    margin: 2rem auto;
}

.logo-box img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}