@import url(//at.alicdn.com/t/c/font_4240947_qembenvg51a.css);

:root {
  --main-color: #cb0311;
  --p-m-g: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', 'Quicksand', "微软雅黑", "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--main-color), transparent);
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  align-self: start;
  display: flex;
  align-items: center;
  gap: var(--p-m-g);
  color: #fff;
  background-color: var(--main-color);
  padding: 0 var(--p-m-g);
  z-index: 1;
}

header .iconfont {
  font-size: 2rem;
}

.logo-title {
  margin-right: auto;
  font-size: 2rem;
}

.main {
  padding: var(--p-m-g);
}

.ham {
  display: none;
}

.nav-wrap {
  display: flex;
  line-height: 60px;
}

.nav {
  cursor: pointer;
  position: relative;
}

.nav-item {
  text-align: right;
  padding: 0 var(--p-m-g);
  font-weight: 600;
}

.nav-item.active {
  color: #ff0;
}

.sub-nav {
  position: absolute;
  right: 0;
  max-height: 0;
  width: max-content;
  overflow: hidden;
  line-height: 2;
  text-align: right;
  font-size: 1.6rem;
  color: #000;
  background-color: #fff;
}

.nav-item.active+.sub-nav,
.sub-nav.active {
  max-height: 100vh;
  transition: max-height 0.5s ease-in-out;
}

.sub-nav-item {
  padding: 0 var(--p-m-g);
}

.sub-nav-item:hover,
.sub-nav-item.active {
  color: var(--main-color);
}

.title {
  position: sticky;
  top: 0;
  background-color: #000;
  font-size: 1.8rem;
  line-height: 2;
}

.icon-avatar {
  font-size: 3rem;
}

.item {
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  gap: calc(2*var(--p-m-g));
  line-height: 2;
  margin-bottom: var(--p-m-g);
}

.item .star {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

footer {
  text-align: center;
  padding: 5vh 0;
  font-size: 1.4rem;
}

@media screen and (max-width:768px) {
  .ham {
    display: block;
    font-size: 3rem;
    z-index: 3;
  }

  .logo {
    z-index: 3;
  }

  .nav-wrap {
    position: fixed;
    right: -100%;
    top: 0vh;
    padding-top: 10vh;
    flex-direction: column;
    transition: right 0.5s;
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #000;
    z-index: 2;
  }

  .nav-wrap.active {
    right: 0;
  }

  .nav-item.active {
    background-color: var(--main-color);
  }

  .sub-nav {
    position: unset;
    width: unset;
  }
}