@charset "utf-8";
@import url(//at.alicdn.com/t/c/font_3468246_2giozviq19w.css);

:root {
  --main-color: #c81623;
  --second-color: #1b9fab;
  --third-color: #ff7b00;
  --warn-color: #9f103a;
  --pre-color: #dcdcaa;
  --bg-color: #f4f4f4;
  --txt-color: #111;
  --tips-color: #edf8db;
  --tips-bold-color: #2ed573;
  --w: 1024px;
  --p-m-g: 10px;
}

html,
body,
ul,
ol,
dl,
dt,
dd,
a,
figure,
figcaption,
img,
p,
h1,
h2,
h3,
h4,
div,
input,
button,
aside,
textarea,
header,
section,
nav,
footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Alibaba PuHuiTi", "Source Han Serif", "Source Han Sans", "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--txt-color);
  text-align: justify;
  counter-reset: tbl-sn img-sn;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--second-color), transparent);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

h1,
.txt-xl {
  font-size: 2rem;
}

h2,
.txt-l {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4,
.txt-sm {
  font-size: 1.4rem;
}

ul,
li {
  list-style: none;
}

ul>li::before {
  content: '• ';
}

ol>li {
  counter-increment: list-sn;
}

ol>li::before {
  content: counter(list-sn)'. ';
}

dt {
  font-weight: 600;
  margin: 2rem auto 1rem;
}

figure {
  margin: 4rem auto;
}

figcaption {
  text-align: center;
  font-size: 1.4rem;
  line-height: 3;
}

figcaption::before {
  content: '图' counter(img-sn)' ';
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  counter-increment: tbl-sn;
}

caption {
  text-align: center;
  font-size: 1.4rem;
}

caption::before {
  content: '表' counter(tbl-sn)' ';
}

th {
  text-transform: capitalize;
}

th,
td {
  padding-left: .4rem;
  padding-right: .4rem;
}

pre {
  color: var(--pre-color);
  padding: var(--p-m-g);
  background-color: var(--txt-color);
  border-radius: 6px;
  font-family: 'Inconsolata', 'Courier New', Courier;
  overflow: auto;
  margin: var(--p-m-g) auto;
}

pre::-webkit-scrollbar {
  height: 4px;
  background-color: #fff;
}

pre::-webkit-scrollbar-thumb {
  background-color: var(--pre-color);
}

iframe {
  display: block;
  width: 100%;
}

video {
  width: 100%;
  aspect-ratio: 16/9;
}

input,
button,
textarea {
  outline: none;
  border: none;
  border: 1px solid #ccc;
}

.w {
  position: relative;
  padding: 1rem;
  width: 100%;
  max-width: var(--w);
  margin: 0 auto;
  background-color: #fff;
}

.w::before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: -1px 0 2rem 1rem rgba(0, 0, 0, .1);
  z-index: -1;
}

.w::after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 1px 0 2rem 1rem rgba(0, 0, 0, .1);
  z-index: -1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconfont,
.warn {
  color: var(--warn-color);
}

.iconfont {
  font-size: 2rem;
}

.tips {
  background-color: var(--tips-color);
  padding: var(--p-m-g);
  border-left: 4px solid var(--tips-bold-color);
  margin: 4rem auto;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

@media screen and (max-width:768px) {
  html {
    font-size: 60%;
  }

  .w::before,
  .w::after {
    display: none;
  }

}