@import url(//at.alicdn.com/t/c/font_3859342_oxoiw0je2bh.css);

:root {
  --main-color: #4bc2ce;
  --second-color: #1b9fab;
  --warn-color: #C91F37;
  --pre-color: #dcdcaa;
  --tbl-color: #fabfb4;
  --tbl-color-light: #feefec;
  --tips-color: #edf8db;
  --tips-bold-color: #2ed573;
  --w-width: 1024px;
  --header-h: 250px;
  --chap-h: 120px;
  --dt-h: 60px;
  --p-m-g: 10px;
  --footer-h: 150px;
  accent-color: var(--warn-color);
}

html,
body,
header,
div,
main,
h1,
h3,
dl,
dt,
dd,
figure,
figcaption,
pre {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alibaba PuHuiTi", "Source Han Serif", "Source Han Sans", "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
}

pre {
  color: var(--pre-color);
  padding: var(--p-m-g);
  background-color: #000;
  border-radius: 6px;
  font-family: 'Inconsolata', 'Courier New', Courier;
  overflow: auto;
  margin: var(--p-m-g) auto;
}

pre::-webkit-scrollbar {
  height: 4px;
  background-color: #fff;
}

pre::-webkit-scrollbar-thumb {
  background-color: var(--pre-color);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-color: rgb(243, 244, 245);
}

body::-webkit-scrollbar {
  width: var(--p-m-g);
  border-radius: var(--p-m-g);
}

body::-webkit-scrollbar-track {
  width: var(--p-m-g);
  border-radius: var(--p-m-g);
  background: #ecf0f1;
}

body::-webkit-scrollbar-thumb {
  border-radius: var(--p-m-g);
  background-image: linear-gradient(var(--main-color), transparent);
}

header {
  height: 300px;
  background-image: url(../../web/imgs/coolbg.png);
  background-size: cover;
  animation: glow 10s linear infinite alternate-reverse;
}

.sub-title::after,
.sub-title::before {
  content: ' - ';
}

.container {
  max-width: var(--w-width);
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -6rem;
  padding: 2rem;
  background-color: #fff;
  z-index: 1;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

h1,
h3 {
  text-align: center;
}

dt {
  font-weight: 600;
  margin: 4rem auto 0rem;
}

dd::before {
  content: '· ';
}

a,
.warn {
  color: #ff5d73;
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  display: block;
  width: 100%;
  height: 65px;
}

table {
  width: 100%;
  border-collapse: collapse;
  line-height: 40px;
}

th {
  background-color: #1abc9c;
  color: #fff;
  text-align: center;
}

td {
  text-align: center;
  border-bottom: 1px solid #1abc9c;
}


@media screen and (max-width:768px) {
  html {
    font-size: 50%;
  }

  header {
    height: 160px;
  }

  iframe {
    height: 80px;
  }
}