@charset "utf-8";
@import url(//at.alicdn.com/t/c/font_5035820_j1h3n83dhng.css);

:root {
  --main-color: #4bc2ce;
  --header-color: #4bc2ce;
  --second-color: #34ace0;
  --third-color: #ff7b00;
  --warn-color: #f25e44;
  --blue-color: #34ace0;
  --pink-color: #c5237a;
  --pink-light-color: #fccfe9;
  --orange-color: #ff7b00;
  --yellow-color: #f1c40f;
  --green-color: #00f260;
  --pre-color: #dcdcaa;
  --bg-color: #fff;
  --txt-color: #111;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --tips-color: #edf8db;
  --tips-bold-color: #1ac388;
  --paper: #f5f5dc;
  --w: 1024px;
  --header-h: 240px;
  --nav-h: 80px;
  --p-m-g: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alibaba PuHuiTi", "Source Han Serif", "Source Han Sans", "PingFang SC", "Microsoft YaHei", "微软雅黑", "SimSun", Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--txt-color);
  text-align: justify;
  counter-reset: tbl-sn img-sn;
  min-height: 100vh;
  line-height: 2;
  font-weight: 300;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--main-color, #333), transparent);
  border-radius: 4px;
}

header {
  height: var(--header-h);
  background-image: linear-gradient(var(--main-color), var(--blue-color));
}

a {
  color: var(--warn-color);
  font: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  line-height: var(--nav-h);
  text-align: center;
}

h2 {
  font-size: 2rem;
  padding-top: 3rem;
}

h3 {
  font-size: 1.6rem;
}

main,
.main {
  padding: 0 var(--p-m-g);
}

ul,
ol {
  list-style: none;
}

dl ul>li::before {
  content: ". ";
}

ol>li {
  counter-increment: list-sn;
}

ol>li::before {
  content: counter(list-sn) ". ";
}

dt {
  font-weight: 600;
  padding-top: 3rem;
}

h2+dl dt {
  padding-top: 2rem;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

figure {
  margin: 6rem auto;
  text-align: center;
  counter-increment: img-sn;
}

figcaption {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2rem;
}

figcaption::before {
  content: "图" counter(img-sn) " ";
}

table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  counter-increment: tbl-sn;
  border: 2px solid var(--table-color, #000);
  margin: 4rem auto;
  font-family: 'Times New Roman', Times, serif;
}

caption {
  text-align: center;
  font-size: 1.4rem;
}

caption::before {
  content: "表" counter(tbl-sn) " ";
}

th {
  text-transform: capitalize;
}

th,
td {
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid var(--table-color, #000);
}

pre {
  color: var(--pre-color);
  padding: var(--p-m-g);
  background-color: var(--txt-color);
  border-radius: 6px;
  margin: var(--p-m-g) auto;
  overflow-x: auto;
  /* white-space: pre-wrap; */
  /* word-wrap: break-word; */
}

code {
  font-family: "Inconsolata", "Courier New", Courier;
  line-height: 1.5;
  font-size: 1.8rem;
}

pre::-webkit-scrollbar {
  height: 4px;
  background-color: #fff;
}

pre::-webkit-scrollbar-thumb {
  background-color: var(--pre-color);
}

iframe {
  display: block;
  width: 100%;
  margin: 0 auto;
}

sub,
sup {
  font-size: 12px;
}

strong,
.warn {
  color: var(--warn-color);
}

.iconfont {
  color: var(--warn-color);
  font-size: 2rem;
}

.link::after {
  content: '\ed0b';
  font-family: 'iconfont';
}

.demo {
  margin-top: 2rem;
}

.demo::before {
  content: '[' "\ebc8" ']';
  font-family: 'iconfont';
  color: var(--warn-color);
  font-size: 18px;
}

.tips {
  background-color: var(--tips-color);
  padding: var(--p-m-g);
  border-left: 4px solid var(--tips-bold-color);
  margin: 4rem auto;
}

.txt-center {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.txt-indent {
  text-indent: 1em;
}

@media (hover:hover) {
  .link:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --header-h: 160px;
  }

  h2,
  dt {
    padding-top: var(--nav-h);
  }
}