.w {
    width: 1100px;
    margin: 20px auto;
}

.red {
    color: #f40;
}

.spacer {
    margin: 0 14px;
}

header {
    position: relative;
    display: flex;
    color: #999;
    background-color: #f3f4f5;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    /* 提升层级：避免下拉菜单被下方内容覆盖 */
    z-index: 1;
}

header>ul {
    display: flex;
    margin-left: auto;
}

header>ul>li:last-child {
    margin-right: 14px;
}

header .reg {
    margin-left: 10px;
}

header .item:hover {
    color: #f40;
}

.mine {
    position: relative;
}

.mine .inner-nav {
    display: none;
}

/* 提高了优先级，使得a在hover时箭头保持color */

.item>span {
    font-size: 12px;
    color: #999;
}

.link {
    box-sizing: content-box;
    display: inline-block;
    height: 100%;
    position: relative;
    padding: 0 10px;
    border: 1px solid transparent;
    /* 提升层级 */
    z-index: 2;
}

.inner-nav {
    position: absolute;
    left: 0;
    top: 30px;
    width: 200px;
    padding: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    /* 降低层级 */
    z-index: 0;
}

.mine:hover .link {
    background-color: #fff;
    /* 白色边框和白色背景融合 */
    border-color: #ccc;
    border-bottom-color: #fff;
}

.mine:hover .inner-nav {
    display: block;
}

.inner-nav a:hover {
    color: #f40;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-box {
    width: 140px;
}

.sql {
    display: flex;
    border: 2px solid #f40;
}

.ipt {
    width: 260px;
    height: 40px;
    padding: 0 10px;
}

.btn {
    width: 80px;
    height: 40px;
    background: #f40;
    color: #fff;
}

.cart {
    position: relative;
    width: 160px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #f4f4f4;
    color: #f40;
}

.cart span {
    padding-right: 20px;
}

.cart em {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    top: -5px;
    right: 80px;
    color: #fff;
    background: #f40;
    border-radius: 50%;
    text-align: center;
}

.cart:hover {
    border-color: #f40;
}