.item {
  display: flex;
  align-items: center;
}

.item::before {
  content: attr(data-title);
  order: 2;
}

.item::after {
  content: '';
  flex: 1;
  height: 3px;
  background-image: url(/imgs/dot.png);
  background-repeat: repeat-x;
}

.item:hover {
  color: var(--main-color);
}