.python {
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
}

.python th,
.python td {
  border: 1px solid #ddd !important;
  border-radius: 3px;
  padding: 0.3em 0.5em
}

.python th {
  background-color: #eee;
  text-align: left;
  font-weight: bold;
  text-transform: capitalize;
}

.python td {
  background-color: #fff;
}