@media screen and (max-width:768px) {

  /* for 2 cols */
  .tbl-ale tr:has(th) {
    display: none;
  }

  .tbl-ale tr {
    display: flex;
    flex-direction: column;
  }

  .tbl-ale tr td {
    border: none;
  }

  .tbl-ale tr td:first-child {
    font-weight: 600;
  }

}