@import url('https://fonts.font.im/css?family=Roboto:300,400,500,700');

:root {
    --main-color: #e38528;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    font-family: inherit;
}

body {
    font-size: 2rem;
}

img {
    max-width: 100%;
    object-fit: cover;
    display: block;
}

input, button, textarea {
    font: inherit;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

.box {
    display: flex;
    gap: 2rem;
    background-color: #eee;
    height: 60px;
    line-height: 60px;
}

.box div {
    background-color: #f40;
}