:root {
  --warn-color: #FFA700;
}

header {
  background-image: url(https://www.tslang.cn/assets/images/foreground_bluprint.svg);
  color: var(--warn-color);
}

a {
  color: var(--warn-color);
}

.warn {
  background-color: var(--warn-color);
  color: #fff;
  padding: 4px 6px;
  border-radius: 12px;
}