header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../imgs/wsn/banner.jpg);
    line-height: unset;
    height: 300px;
}

header h1 {
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
}

.flex-h {
    align-items: flex-end;
    flex-wrap: wrap;
}

.main-nav {
    /* position: relative; */
    margin-bottom: 1rem;
    font-size: 1.05rem;
    background-color: #fff;
    border-bottom: 2px solid #23abf2;
}

.main-nav-item {
    margin-left: 1rem;
}

.logo {
    margin-right: auto;
}

.main-nav-item:hover {
    color: #23abf2;
}

.logo a {
    color: #23abf2;
    font-size: 2rem;
}

.logo a span {
    font-size: 14px;
}

.main-nav-active {
    position: relative;
    color: #23abf2;
    font-weight: 700;
}

.main-nav-active::before {
    position: absolute;
    content: '[';
    left: -6px;
}

.main-nav-active::after {
    position: absolute;
    content: ']';
    right: -6px;
}

.ham-menu {
    display: none;
    font-size: 2rem;
}

h2 {
    background-color: #23abf2;
    color: #fff;
    line-height: 2;
    text-align: center;
}

@media screen and (max-width:768px) {
    header {
        height: 150px;
    }

    .main-nav-item {
        display: none;
        width: 100%;
        text-align: center;
    }

    .ham-menu {
        display: block;
    }
}