@import url('https://fonts.font.im/css?family=Great+Vibes');

:root {
  --main-color: #f39c12;
  --main-dark-color: #895502;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.number>div::before {
  font-family: 'Great Vibes', cursive;
  font-weight: 600;
}

body {
  font-size: 1.6rem;
  background-image: linear-gradient(var(--main-color), var(--main-dark-color));
}

.wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem 1rem 0;
  background-color: #f2f3f4;
}

header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 2rem 0;
}

header h1 {
  grid-column: span 5;
  border-top: 2px solid var(--main-color);
  text-align: center;
  color: var(--main-color);
  line-height: 2;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 4px;
  text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.8);
}

dl {
  line-height: 2;
}

dt {
  font-size: 2rem;
  margin-top: 3rem;
  color: var(--main-color);
}

dt>span {
  font-family: 'Great Vibes', cursive;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 4px;
}

.warn {
  color: var(--main-color);
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-family: 'Great Vibes', cursive;
  padding: 5rem 0;
}

footer img {
  width: 30px;
  border-radius: 50%;
}