@import url('https://fonts.font.im/css?family=Great+Vibes');

:root {
  --main-color: #4bc2ce;
  --warn-color: #ff5d73;
  --chap-h: 8rem;
  --padding-margin: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
  border-bottom: 1px solid var(--warn-color);
}

a:hover {
  color: var(--warn-color);
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  background-color: #eee;
}

body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

header {
  height: 20vh;
  line-height: 20vh;
  text-align: center;
  border-bottom: 4px solid var(--main-color);
  font-family: 'Great Vibes', cursive;
}

.chap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.8rem;
  height: var(--chap-h);
  color: #fff;
  background-color: var(--main-color);
  text-transform: capitalize;
  padding: var(--padding-margin);
}

dl {
  padding-inline: var(--padding-margin);
}

dt {
  line-height: 2;
  margin-bottom: 1rem;
  font-weight: 600;
}

dd,
dd div,
dd p {
  margin-bottom: 0.5rem;
  text-align: justify;
}

.warn {
  color: var(--warn-color);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  padding: 5rem 0;
  font-family: 'Great Vibes', cursive;
}

footer img {
  width: 30px;
  border-radius: 50%;
}