@import url(//at.alicdn.com/t/c/font_2964916_wvawz6wv1b.css);
@import url('../../css/fonts_GreatVibes.css');

:root {
  --warn-color: #ff5d73;
  --w-aside: 22px;
}

aside {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  width: var(--w-aside);
  margin-left: calc(-1*var(--w-width)/2 - var(--w-aside));
}

aside span {
  width: var(--w-aside);
  height: var(--w-aside);
  text-align: center;
  line-height: var(--w-aside);
  border-radius: 50%;
  padding: 0.1rem;
  border: 1px solid #f40;
}

:root {
  --main-color: #e84393;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 25vh;
  background-color: #e84393;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230625/pngtree-graduation-cap-and-books-in-3d-on-a-pink-background-image_3677946.jpg);
  background-size: contain;
  background-position: center;
  border-bottom: 4px solid var(--main-color);
  color: #fff;
}

.container {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.container .img {
  flex: 1;
}

.container>div {
  flex: 2;
}

.container:nth-child(even) .img {
  order: 1;
}

.cont-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: span 2;
}

.title {
  font-size: 1.8rem;
  border-bottom: 1px solid var(--warn-color);
}

.title span {
  font-family: 'GreatVibes', cursive;
  font-size: 120%;
}

.item::before {
  content: '. ';
}

.item:hover {
  color: var(--warn-color);
}

@media screen and (max-width:768px) {
  aside {
    display: none;
  }
}