@import url(//at.alicdn.com/t/c/font_3859342_55f4w9rdzau.css);

body,
dl,
dd,
div,
header,
a,
h1,
table,
td,
tr,
figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #eee;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

header {
    position: relative;
    height: 200px;
    background: linear-gradient(315deg, #42d392 25%, #647eff);
}

h1 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: normal;
}

ul {
    list-style: none;
}

figure {
    margin: 2rem auto;
}

.chap {
    font-size: 1.2rem;
    height: 120px;
    line-height: 200px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #4bc2ce;
    color: #fff;
    text-transform: capitalize;
}

iframe {
    display: block;
    width: 100%;
}

#footer {
    height: 65px;
}

dl {
    padding-left: 1rem;
    padding-right: 1rem;
}

dt {
    font-weight: 600;
    line-height: 3;
}

dd {
    line-height: 30px;
    text-align: justify;
}

pre {
    line-height: 1.2;
    color: #333;
    background-color: #fed;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    overflow-y: auto;
    overflow-x: auto;
    counter-reset: sn;
}

pre span::before {
    content: counter(sn, decimal-leading-zero)'    ';
    counter-increment: sn;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding-left: .5rem;
    padding-right: .5rem;
    border: 1px solid #eee;
}

a {
    color: #42d392;
    font-weight: 600;
}

.warn {
    color: #42d392;
    font-weight: 600;
}

.mt2 {
    margin-top: 2rem;
}

@media screen and (max-width:768px) {
    header {
        height: 120px;
    }

    h1 {
        font-size: 1.2rem;
    }

    .chap {
        height: 60px;
        line-height: 80px;
        font-size: 1.05rem;
    }

    #footer {
        height: 80px;
    }
}