:root {
  --bg-color: #171f2b;
  --nav-bg-color: rgba(255, 255, 255, .1);
  --main-color: #ff3838;
  --delay: 2s;
  --transition: 0.6s;
  --p-m-g: 10px;
  --z: -1000px;
  --offset-z: 1000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: "Alibaba PuHuiTi", "Source Han Serif", "Source Han Sans", "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
}

html {
  font-size: 50%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: center;
  padding: 2rem 1rem;
  overflow: hidden;
}

.wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  perspective: 1200px;
  overflow: hidden;
}

main {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 450px;
  transform-style: preserve-3d;
  transform: translateZ(400px);
}

.sides {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: var(--transition);
  transform-origin: 50% 50% var(--z);
  transform: scale(1) rotateY(0deg) translateZ(var(--z));
  animation: cube-ani var(--delay) ease-in-out;
}

@keyframes cube-ani {
  from {
    transform-origin: 50% 50% -2000px;
    transform: scale(0) rotateY(360deg) translateZ(-2000px);
  }
}

.side {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transform: rotateY(calc(var(--deg) * 45deg)) translateZ(var(--offset-z));
}

section {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: #fff;
  padding: 2rem 3rem;
  line-height: 1.5;
}

header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
  align-items: center;
  gap: 4px;
}

header svg {
  grid-row: 1/-1;
}

h1 {
  align-self: flex-end;
  font-size: 3rem;
  letter-spacing: 8px;
}

h2 {
  font-size: 2rem;
  margin-bottom: var(--p-m-g);
  border-bottom: 1px solid #fff;
}

h3 {
  grid-column: 2/-1;
}

.pages {
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 5rem;
  animation: nav-ani 1s ease-in-out backwards;
  animation-delay: var(--delay);
  transition: var(--transition);
}

@keyframes nav-ani {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pages li {
  position: relative;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pages li svg {
  width: 2.6rem;
  height: 2.6rem;
}

.pages li:hover svg,
.pages li.active svg {
  fill: #fff;
}

.pages li span {
  color: #000;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) scale(0);
  opacity: 0;
  transition: var(--transition);
}

.pages li:hover span {
  top: -3rem;
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #fff;
  margin-top: 1rem;
}

td {
  border: 1px solid #fff;
  padding: 2px 2px;
  text-align: center;
}

table tr:first-child td {
  padding: 6px 2px;
}

.title {
  position: relative;
  text-align: right;
  overflow: hidden;
}

.title::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150%;
  height: 1px;
  background-color: #fff;
  transform-origin: right center;
  transform: rotate(13deg);
}

.title::after {
  content: '节';
  position: absolute;
  left: 4px;
  bottom: 0;
}

@media screen and (max-width:768px) {
  :root {
    --offset-z: 500px;
  }

  .title::before {
    transform: rotate(30deg);
  }
}