header {
  background: linear-gradient(180deg, var(--header-color), #2980b9);
}

h1 {
  padding-top: var(--p-m-g);
  text-align: center;
}

h1+h3 {
  text-align: center;
  padding: 0;
}

h3::before,
h3::after {
  content: " - ";
}

.w {
  top: calc(-5 * var(--p-m-g));
  border-top-right-radius: var(--p-m-g);
  border-top-left-radius: var(--p-m-g);
  border-top: 6px solid var(--yellow-color);
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  gap: 1rem;
  place-items: end;
  margin: 4rem auto;
}

.border-btm {
  border-bottom: 1px solid var(--tbl-border-color, #ccc);
  margin-bottom: var(--p-m-g);
}

.border-l-t {
  border-top: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
}

.mt2 {
  margin-top: var(--p-m-g);
}

strong {
  font-size: 150%;
  font-weight: 600;
}

.m600 {
  max-width: 600px;
}