:root {
  --header-color: #4bc2ce;
  --tbl-color: #1abc9c;
  --tbl-border-color: #ccc;
  --tips-bg: #f9efd4;
  --tbl-bgc: #ddd;
  --scrollbar-color: #abc;
  --bg-gray: #fed;
  --scrollbar-bg-color: #ecf0f1;
  --code-color: #333;
  ---code-bg: #fed;
  --bar-h: 100px;
}

header {
  background: var(--header-color);
  background: linear-gradient(180deg, var(--header-color), #2980b9);
}

h1 {
  padding-top: var(--p-m-g);
  text-align: center;
}

h3 {
  text-align: center;
}

h3::before,
h3::after {
  content: " - ";
}

.w {
  top: calc(-5 * var(--p-m-g));
  border-top-right-radius: var(--p-m-g);
  border-top-left-radius: var(--p-m-g);
  border-top: 6px solid var(--yellow-color);
}

.chap {
  padding: var(--nav-h) var(--p-m-g) 0;
  font-size: 2.2rem;
  letter-spacing: 2px;
  color: #fff;
  background-color: var(--header-color);
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  gap: 1rem;
  place-items: end;
  margin: 4rem auto;
}

.border-btm {
  border-bottom: 1px solid var(--tbl-border-color);
  margin-bottom: var(--p-m-g);
}

.border-l-t {
  border-top: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
}

.mt2 {
  margin-top: var(--p-m-g);
}

strong {
  font-size: 150%;
  font-weight: 600;
}

.m600 {
  max-width: 600px;
}