main {
  padding: var(--p-m-g);
}

h2 {
  display: flex;
  align-items: flex-end;
  height: 100px;
  padding: var(--p-m-g);
  color: #fff;
  background-color: var(--second-color);
  margin: 1rem calc(var(--p-m-g)*-1);
}

h3 {
  font-weight: 600;
  margin-top: 4rem;
}

a {
  color: var(--main-color);
}

a::after {
  content: '\ed0b';
  font-family: 'iconfont';
}

table caption {
  margin: 1rem 0;
}

table thead {
  background-color: unset;
}

table tbody {
  line-height: 2;
  border-top: 1px solid var(--second-color);
}

header {
  --h: 300px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: var(--h);
  background-color: var(--second-color);
  padding: var(--p-m-g);
  color: #fff;
}

header h1 {
  position: absolute;
  left: 2rem;
  top: 4rem;
  color: rgba(255, 255, 255, 0.4);
  font-size: 10rem;
  font-weight: 600;
}

header span {
  position: absolute;
  left: 16rem;
  top: 10rem;
  font-size: 6rem;
}

.custom-shape-divider-bottom-1765450800 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1765450800 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: calc(var(--h)/4);
}

.custom-shape-divider-bottom-1765450800 .shape-fill {
  fill: #FFFFFF;
}

@media screen and (max-width:768px) {
  header {
    --h: 200px
  }

  header h1 {
    font-size: 6rem;
  }

  header span {
    font-size: 3rem;
    left: 8rem;
    top: 8rem;
  }
}