.w {
  padding: var(--p-m-g);
}

h3 {
  font-weight: 600;
  margin-top: 4rem;
}

a {
  color: var(--main-color);
}

a::after {
  content: '\ed0b';
  font-family: 'iconfont';
}

header {
  position: relative;
  height: 300px;
  background-color: var(--main-color);
}

.custom-shape-divider-bottom-1765373758 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1765373758 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 161px;
}

.custom-shape-divider-bottom-1765373758 .shape-fill {
  fill: #FFFFFF;
}