:root {
  --w-width: 1024px;
  --main-color: #4bc2ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alibaba PuHuiTi", "Source Han Serif", "Source Han Sans", "PingFang SC", "Microsoft YaHei", "微软雅黑", "SimSun", Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

body {
  width: var(--w-width);
  margin: 0 auto;
  line-height: 2;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--main-color, #333), transparent);
  border-radius: 4px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  position: sticky;
  top: 0;
  padding-top: 40px;
  background-color: #fff;
  z-index: 1;
}

nav {
  margin: 10px auto 10px;
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
}

ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
}

.nav-item {
  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.hot-spot {
  position: absolute;
  left: 0px;
  top: -50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f46;
  border: 4px solid #f6f6f6;
  transition: 0.5s;
}

.hot-spot::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0 -10px 0 0 #fff;
}

.hot-spot::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0 -10px #fff;
}

.title-icon {
  position: absolute;
  width: 100%;
  line-height: 60px;
  font-size: 1.2rem;
  transition: 0.5s;
  z-index: 1;
}

li.active .title-icon {
  font-size: 1.5rem;
  transform: translateY(-50%);
  color: #fff;
}

.title-txt {
  position: absolute;
  width: 100%;
  top: 60%;
  font-size: 1rem;
  transition: 0.5s;
  opacity: 0;
}

li.active .title-txt {
  opacity: 1;
  transform: translateY(-30%);
}

ul li:nth-child(1).active~.hot-spot {
  transform: translateX(calc(60px * 0));
}

ul li:nth-child(2).active~.hot-spot {
  transform: translateX(calc(60px * 1));
}

ul li:nth-child(3).active~.hot-spot {
  transform: translateX(calc(60px * 2));
}

ul li:nth-child(4).active~.hot-spot {
  transform: translateX(calc(60px * 3));
}

ul li:nth-child(5).active~.hot-spot {
  transform: translateX(calc(60px * 4));
}

.cont-wrap {
  width: 100%;
  line-height: 2;
  overflow-x: hidden;
}

.inner-box {
  position: relative;
  display: flex;
  width: 500%;
  height: 100%;
}

.inner-cont {
  width: 20%;
  height: 100%;
  padding: 1rem;
}

.col2 {
  columns: 350px 2;
  -webkit-columns: 350px 2;
  -moz-columns: 350px 2;
  column-gap: 2em;
  column-rule: 2px solid #4bc2ce;
  text-align: justify;
}

dl {
  padding: 1rem;
}

dt {
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.warn {
  color: #4bc2ce;
}

.mt2 {
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  line-height: 2;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.list tr td:first-child {
  text-align: right;
}

.list tr td:last-child {
  text-align: left;
}

th,
td {
  border: 1px solid #666;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.p30 {
  width: 33%;
}

pre {
  color: #333;
  background-color: #fed;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-y: auto;
  overflow-x: auto;
  counter-reset: seq;
}

pre span::before {
  counter-increment: seq;
  content: counter(seq)'  ';
}

@media screen and (max-width:768px) {
  body {
    width: 100%;
  }

  header {
    height: 8rem;
  }

  .grid2,
  .grid3,
  .grid4 {
    grid-template-columns: repeat(1, 1fr);
  }

}