table.line3 {
  border-top: 2px solid var(--table-color);
  border-bottom: 2px solid var(--table-color);
}

table.line3 thead th {
  background-color: unset;
  color: unset;
  border-bottom: 1px solid var(--table-color);
}