* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, 'PingFang SC', 'Microsoft Yahei', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  text-align: center;
  margin: 1rem;
}

th {
  background-color: #089;
  color: #fff;
  width: 25%;
  height: 40px;
}

td {
  border-bottom: 1px solid #089;
  height: 40px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font: inherit;
}

input,
textarea {
  border: none;
  outline: none;
  font: inherit;
}

ul {
  list-style: none;
}

.msg-btn {
  color: #fff;
  width: 70px;
  height: 30px;
  background-color: #089;
  border-radius: 4px;
}

.msg-btn:hover {
  background-color: #f40;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 2rem auto;
  user-select: none;
}

.page-btn {
  border: 1px solid #089;
  width: 30px;
  height: 30px;
}

.page-btn:hover {
  background-color: #089;
  color: #fff;
}

.pre,
.next {
  width: 60px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.page-btn.active {
  background-color: #089;
  color: #fff;
}