@import url(../../../css/fonts_Michroma.css);

body,
section,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: 'Michroma';
  font-weight: normal;
}

section {
  padding: 1rem;
  width: 100%;
  max-width: 800px;
  background-color: #3f3d56;
  margin: 0 auto;
  color: #fff;
  text-align: justify;
  text-indent: 2em;
}

h2 {
  column-span: all;
  text-align: center;
}

p {
  column-count: 2;
}

footer {
  text-align: center;
  font-size: 14px;
  line-height: 60px;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  position: absolute;
  text-align: center;
  font-size: 3rem;
}

header img {
  position: absolute;
}

.tree0 {
  height: 80%;
  left: 0;
  bottom: 0;
}

.tree1 {
  height: 60%;
  left: 0%;
  bottom: 0;
}

.tree2 {
  height: 60%;
  right: 0;
  bottom: 0;
}

.tree3 {
  height: 40%;
  left: 25%;
  bottom: 0;
  margin-left: 20%;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  background-color: #3f3d56;
  margin: 0 auto;
  padding: 1rem 0;
}

.nav-item {
  position: relative;
  width: 100px;
  height: 40px;
  margin: 20px;
  border: 1px solid var(--color);
  border-radius: 10px;
  transition: 0.4s;
  background-color: var(--color);
  color: #fff;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
}


.nav-item div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color);
  border-radius: 10px;
  opacity: var(--opc);
}

.nav-item:hover {
  transform: rotate(-10deg) skew(40deg);
}

.nav-item:hover div {
  transform: translate(calc((1 - var(--opc))*-20px), calc((1 - var(--opc))*20px));
  box-shadow: 0 0 1px var(--color);
}