header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(../tree/huffman0.jpg);
  background-size: cover;
  height: 30vh;
  color: #fff;
  padding: var(--p-m-g);
}

dl {
  padding: var(--p-m-g);
  line-height: 2;
}

dd::before {
  content: '• ';
}