@font-face {
  font-family: "iconfont"; /* Project id 3922652 */
  src: url('iconfont.woff2?t=1677648097909') format('woff2'),
       url('iconfont.woff?t=1677648097909') format('woff'),
       url('iconfont.ttf?t=1677648097909') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangxiazhankai:before {
  content: "\eb13";
}

.icon-search:before {
  content: "\e6ee";
}

.icon-download-alt:before {
  content: "\e6a6";
}

.icon-menu-down:before {
  content: "\e6c8";
}

.icon-menu-hamburger:before {
  content: "\e6c9";
}

.icon-menu-left:before {
  content: "\e6ca";
}

.icon-menu-right:before {
  content: "\e6cb";
}

.icon-menu-up:before {
  content: "\e6cc";
}

.icon-minus:before {
  content: "\e6cd";
}

.icon-plus:before {
  content: "\e6df";
}

.icon-24gl-expandVertical:before {
  content: "\eb6d";
}

.icon-daxiao1:before {
  content: "\e600";
}

.icon-cd:before {
  content: "\e672";
}

.icon-xihuan:before {
  content: "\e6a3";
}

.icon-xihuan2:before {
  content: "\e6a4";
}

.icon-common:before {
  content: "\e66e";
}

.icon-dingwei:before {
  content: "\e627";
}

.icon-chuantongbafenyinfu:before {
  content: "\e63a";
}

.icon-24gl-checklist:before {
  content: "\eb00";
}

.icon-24gl-indent2:before {
  content: "\eb7f";
}

.icon-hanbaocaidanzhedie:before {
  content: "\e62f";
}

.icon-xiangxia1:before {
  content: "\e728";
}

.icon-clothes:before {
  content: "\e8c7";
}

.icon-diannaoduan:before {
  content: "\e636";
}

.icon-radiotower:before {
  content: "\ea2d";
}

.icon-2zuixiaohua-1:before {
  content: "\e65a";
}

.icon-4guanbi-1:before {
  content: "\e660";
}

.icon-3zuidahua-3:before {
  content: "\e692";
}

.icon-radio-tower:before {
  content: "\e86b";
}

.icon-shijian:before {
  content: "\e8c5";
}

.icon-yinle:before {
  content: "\e62d";
}

.icon-a-178-shipin:before {
  content: "\e8df";
}

.icon-24gl-playCircle:before {
  content: "\ea6f";
}

.icon-24gl-pauseCircle:before {
  content: "\ea6e";
}

.icon-24gl-bubbleDots4:before {
  content: "\e93f";
}

.icon-24gl-appsBig2:before {
  content: "\e9b7";
}

.icon-24gl-videoCamera:before {
  content: "\e9f0";
}

.icon-24gl-volumeCross:before {
  content: "\ea0b";
}

.icon-24gl-volumeHigh:before {
  content: "\ea0c";
}

.icon-24gl-play:before {
  content: "\ea6d";
}

.icon-24gl-playlistMusic4:before {
  content: "\ea72";
}

.icon-24gl-shuffle:before {
  content: "\ea75";
}

.icon-24gl-repeat2:before {
  content: "\ea76";
}

.icon-24gl-repeatOnce2:before {
  content: "\ea77";
}

.icon-24gl-search2:before {
  content: "\eace";
}

.icon-24gl-portraitMale:before {
  content: "\eb23";
}

.icon-zuihou:before {
  content: "\e6fe";
}

.icon-zuiqian:before {
  content: "\e707";
}

