@font-face {
  font-family: "iconfont"; /* Project id 3870259 */
  src: url('iconfont.woff2?t=1695547002560') format('woff2'),
       url('iconfont.woff?t=1695547002560') format('woff'),
       url('iconfont.ttf?t=1695547002560') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianmao:before {
  content: "\e63c";
}

.icon-jingdong:before {
  content: "\e63d";
}

.icon-vuesax-outline-xiaomi:before {
  content: "\e708";
}

.icon-firefox:before {
  content: "\ebfd";
}

.icon-chrome:before {
  content: "\ebf2";
}

.icon-edge:before {
  content: "\ebfa";
}

.icon-internet-explorer:before {
  content: "\ec0a";
}

.icon-opera:before {
  content: "\ec13";
}

.icon-safari:before {
  content: "\ec1c";
}

