html, body, div, dl, dd {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #eee;
}

body {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

header {
    height: 160px;
    padding: 0 1rem;
}

iframe {
    margin-top: auto;
}

.chap {
    height: 120px;
    line-height: 200px;
    padding: 0 1rem;
    background-color: #4bc2ce;
    color: #fff;
    font-size: 1.2rem;
}

dl {
    padding: 0 1rem;
    line-height: 2;
}

dt {
    font-weight: 600;
    line-height: 3;
}

pre {
    font-family: 'poppins', 'Cambria Math', 'Courier New', Courier, monospace;
    color: #333;
    background-color: #fed;
    padding: 1rem;
    font-size: 1rem;
    overflow-x: auto;
}

@media screen and (max-width:768px) {
    body {
        width: 100%;
    }
}