body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #9acd32;
}

h2 {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    color: #333;
    font-weight: normal;
}

h2::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: #f40;
}

h2::after {
    content: '';
    flex: 1;
    height: .1rem;
    background-color: #f40;
}

.card {
    position: relative;
    border-radius: .4rem;
    padding: .4rem;
    box-shadow: 0 0 .4rem #888;
    overflow: hidden;
}

.card-tips {
    position: absolute;
    width: 6rem;
    height: 2rem;
    transform: translateX(25%) rotate(45deg);
    color: #f40;
    text-align: center;
    line-height: 2rem;
    background-color: rgb(245, 222, 179);
    top: 0;
    right: 0;
}

.day {
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
    margin: .2rem;
    text-align: center;
    background-color: #9acd32;
    color: #fff;
}

.to-do {
    background-color: rgb(255, 99, 71);
}