    @import url(//at.alicdn.com/t/c/font_5091522_w3vr0n0pdfl.css);

    :root {
      --txt-color: #fff;
      --main-color: rgb(0, 210, 255);
      --w: 800px;
      --header-h: 100px;
      --p-m-g: 10px;
    }

    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Alibaba PuHuiTi", "Source Han Serif", "Source Han Sans", "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif;
      -webkit-tap-highlight-color: transparent;
    }

    p {
      text-align: justify;
    }

    .iconfont {
      font-size: 2rem;
    }

    .flex {
      display: flex;
      align-items: center;
      gap: 2px;
    }

    html {
      scroll-behavior: smooth;
      font-size: 62.5%;
    }

    body {
      display: grid;
      grid-template-rows: 1fr auto;
      height: 100vh;
      font-size: 1.6rem;
      overflow: hidden;
      /* background-color: #000; */
    }

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: var(--header-h);
      padding: 0 var(--p-m-g);
      text-align: center;
    }

    h1 {
      font-size: 2rem;
    }

    .user-img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      cursor: pointer;
    }

    .user-cont {
      position: fixed;
      bottom: calc(-1*var(--header-h));
      left: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(-50%) scale(0);
      transition: 0.4s;
      z-index: 9;
      pointer-events: none;
    }

    .user-cont.active {
      bottom: calc(2*var(--header-h));
      transform: translateX(-50%) scale(1);
    }

    .menu {
      position: relative;
      justify-content: center;
      gap: var(--p-m-g);
      height: calc(1.2*var(--header-h));
      z-index: 10;
    }

    .menu-btn {
      width: 80px;
      height: 30px;
      border-radius: var(--p-m-g);
      font-size: 2rem;
      justify-content: center;
      border: 1px solid #808080;
      font-family: Arial, Helvetica, sans-serif;
      user-select: none;
    }

    .btns.flex {
      flex-direction: column;
      gap: 0px;
    }

    .menu .btn {
      cursor: pointer;
      transition: .2s;
    }

    .menu .btn:hover {
      transform: scale(2);
      color: var(--main-color);
    }

    .modal {
      position: fixed;
      inset: 0;
      background-color: rgb(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
    }

    .modal.active {
      opacity: 1;
      visibility: visible;
    }

    .item {
      width: 90%;
      max-width: 800px;
      height: 80%;
      padding: var(--p-m-g);
      background-color: var(--txt-color);
      line-height: 2;
      /* background: linear-gradient(#3a7bd5, #00d2ff); */
      /* border-width: 2px;
      border-style: solid;
      border-image: linear-gradient(#3a7bd5, #00d2ff);
      border-image-slice: 2; */
      /* border: 2px solid #f1f2f3; */
      /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); */
      /* animation: fade-in-out 0.2s ease-in-out; */
      /* animation-timeline: view(80% 0%); */
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: var(--main-color) transparent;
    }

    .item::-webkit-scrollbar {
      width: 8px;
      background-color: #fff;
    }

    .item::-webkit-scrollbar-thumb {
      background-color: var(--main-color);
    }

    .item-header {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    @keyframes fade-in-out {
      from {
        opacity: 0;
        transform: scale(0) translateY(100px);
      }

      to {
        opacity: 1;
        transform: scale(1) translateY(0px);
      }
    }

    .btn-close {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 3rem;
      color: #fff;
      cursor: pointer;
    }

    summary {
      border-bottom: 1px solid var(--main-color);
      cursor: pointer;
    }

    summary .icon-arrow-right {
      margin-left: auto;
      transition: 0.5s;
    }

    details[open] .icon-arrow-right {
      transform: rotate(90deg);
    }

    @media screen and (max-width:768px) {
      main {
        flex-direction: column;
      }
    }