:root {
  --main-color: #FDC830;
  --item-bg: hsla(44, 98%, 59%, 5%);
  --scroll-bar-bg: rgb(241, 139, 95);
  --p-m-g: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}


.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: var(--main-color);
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--p-m-g);
  font-size: 1.6rem;
  align-items: center;
  height: 100vh;
  color: #efefef;
  background-color: #000;
  font-family: 'Roboto', 'Quicksand', "微软雅黑", "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--p-m-g);
  width: 100%;
  max-width: 1024px;
  height: 100%;
}

.loading::after {
  content: 'Loading...';
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}

header {
  position: relative;
  width: 100%;
  height: 60px;
  align-self: start;
  display: flex;
  align-items: center;
  gap: var(--p-m-g);
  background-color: #232323;
  z-index: 1;
}

.ham {
  display: none;
}

.nav-wrap {
  display: flex;
  line-height: 60px;
}

.nav {
  cursor: pointer;
  position: relative;
}

.nav-item {
  text-align: right;
  padding: 0 var(--p-m-g);
  font-weight: 600;
}

.nav-item.active {
  color: var(--main-color);
}

.sub-nav {
  position: absolute;
  right: 0;
  max-height: 0;
  width: max-content;
  overflow: hidden;
  line-height: 2;
  text-align: right;
  font-size: 1.4rem;
  background-color: #232323;
}

.sub-nav.active {
  max-height: 100vh;
  transition: max-height 0.5s ease-in-out;
}

.sub-nav-item {
  padding: var(--p-m-g);
  border-bottom: 1px solid #484848;
}

.sub-nav-item:hover,
.sub-nav-item.active {
  color: var(--main-color);
}

.logo {
  margin-right: auto;
  color: var(--main-color);
  font-size: 20px;
  margin-left: var(--p-m-g);
}

.title {
  position: sticky;
  top: 0;
  background-color: #000;
  font-size: 1.8rem;
  line-height: 2;
}

.main {
  flex: 1;
  padding: var(--p-m-g);
  overflow: auto;
}

.main-cont {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-thumb {
  background-image: linear-gradient(transparent, var(--main-color));
}

.icon-avatar {
  font-size: 3rem;
}

.icon-pos {
  position: fixed;
  bottom: 10rem;
  right: 4rem;
  font-size: 8rem;
}

.item {
  width: 50%;
  min-width: 350px;
  display: flex;
  align-items: center;
  gap: var(--p-m-g);
  color: #fff;
  line-height: 2;
  margin-bottom: var(--p-m-g);
}

.item:nth-of-type(even) {
  flex-direction: row-reverse;
}

.item:nth-of-type(even) .star {
  text-align: right;
}

.item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.item .name {
  flex-basis: 65px;
  text-align-last: justify;
}

.item .star {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

footer {
  color: #eee;
  text-align: center;
  padding: 5vh 0;
}

@media screen and (max-width:768px) {
  .ham {
    display: block;
    font-size: 3rem;
    z-index: 3;
    margin-right: var(--p-m-g);
  }

  .logo {
    z-index: 3;
  }

  .item:nth-of-type(even) {
    flex-direction: unset;
  }

  .item:nth-of-type(even) .star {
    text-align: unset;
  }

  .nav-wrap {
    position: fixed;
    right: -100%;
    top: 0vh;
    padding-top: 10vh;
    flex-direction: column;
    transition: right 0.5s;
    width: 100%;
    height: 100vh;
    background-color: #232323;
    z-index: 2;
  }

  .nav-wrap.active {
    right: 0;
  }

  .nav-item.active {
    color: #000;
    background-color: var(--main-color);
  }

  .sub-nav {
    position: unset;
    width: unset;
    background-color: #393939;
  }

  .icon-logo {
    font-size: 4rem;
  }

  .logo-title {
    display: none;
  }

  .sn {
    display: none;
  }
}