@import url(//at.alicdn.com/t/c/font_3859342_2rfyhplh5pz.css);

:root {
  --main-color: #f46;
  --main-bg-color: #4bc2ce;
  --main-txt-light-color: #fff;
  --p-m-g: 10px;
}

body,
div,
h3,
h4,
p,
a,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.5;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(transparent, var(--main-color));
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

p a {
  text-decoration: underline;
  color: var(--main-color);
}

.iconfont {
  font-size: 2.4rem;
  color: var(--main-color);
}

div[id] {
  margin: var(--p-m-g) 0;
}

h3 {
  width: max-content;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--main-color);
  color: var(--main-txt-light-color);
  padding: 1rem 3rem;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--p-m-g);
  padding: var(--p-m-g);
}

.item h4 {
  flex: 1;
  text-align: right;
  font-weight: 600;
}

.item .cont {
  flex: 1;
  text-align: left;
}

.icon-box {
  width: 4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.icon-box::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  background-color: var(--main-txt-light-color);
}

.item:nth-child(odd) .icon-box {
  order: 1;
}

.item:nth-child(odd) h4 {
  order: 2;
  text-align: left;
}

.item:nth-child(odd) .cont {
  text-align: right;
}



.sub-title::before {
  content: '[ ';
}

.sub-title::after {
  content: ' ]';
}

@media screen and (max-width: 768px) {
  /* .item:nth-child(odd) .cont {
    text-align: left;
  }

  .item:nth-child(odd) .icon-box {
    order: unset;
  }

  .item:nth-child(odd) h4 {
    order: unset;
    text-align: right;
  }

  .item .cont {
    flex: 3;
  } */
}