input,
button {
  border: none;
  outline: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

#rem {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 300px;
  margin: 2rem auto;
}

.ipt {
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
  height: 40px;
}

.tips {
  display: flex;
  justify-content: space-between;
}

#clear-btn {
  text-align: right;
  text-transform: capitalize;
}