@import url(../../css/sn.css);
:root{
  --main-color:#27ae60;
  --warn-color:
}
body,
header,
div,
main,
h1,
h5,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-color: rgb(243, 244, 245);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  width: 10px;
  border-radius: 10px;
  background: #ecf0f1;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: ;
}

header {
  height: 300px;
  background-image: url(../imgs/coolbg.png);
  background-size: cover;
  animation: glow 10s linear infinite alternate-reverse;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -6rem;
  padding: 2rem;
  background-color: #fff;
  z-index: 1;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

h1,
h5 {
  text-align: center;
}

dt {
  font-weight: 600;
  line-height: 4;
}

a {
  color: #ff5d73;
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
}

pre {
  line-height: 1.2;
  color: #333;
  background-color: #fed;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-family: 'Courier New';
  overflow-y: auto;
  overflow-x: auto;
  counter-reset: sn;
}

pre span::before {
  content: counter(sn, decimal-leading-zero)'    ';
  counter-increment: sn;
}

iframe {
  display: block;
  width: 100%;
  height: 65px;
}

table {
  width: 100%;
  border-collapse: collapse;
  line-height: 40px;
}

th {
  background-color: #1abc9c;
  color: #fff;
  text-align: center;
}

td {
  text-align: center;
  border-bottom: 1px solid #1abc9c;
}


@media screen and (max-width:768px) {
  html {
    font-size: 50%;
  }

  header {
    height: 160px;
  }

  iframe {
    height: 80px;
  }
}