.shape-box {
  margin: 4rem 0;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

/* nav */
.nav-wrap {
  padding: 0 10px;
  background-color: #1c5381;
  line-height: 50px;
}

.nav-wrap .logo {
  float: left;
  color: #fff;
}

.nav-link {
  float: right;
  color: #fff;
  height: 50px;
  text-decoration: none;
  padding: 0 20px;
  border-right: 1px solid #113858;
  border-left: 1px solid #2b74ab;
}

.nav-link:hover {
  background-color: #113858;
}

.float-cont0,
.float-cont1 {
  background-color: #ddd;
}

.float-cont0>div {
  float: left;
  width: 150px;
  height: 30px;
  margin: 4px;
  background-color: #f40;
}

.float-cont1>div {
  float: left;
  width: 18%;
  height: 30px;
  margin: 1%;
  background-color: #f40;
}

.layout {
  margin: 1rem auto;
}

.layout img {
  width: 120px;
}

.layout p {
  margin-bottom: 1rem;
  text-align: justify;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.w100 {
  width: 100px;
}

.bg-red {
  background-color: #f40;
}

.bg-gray {
  background-color: #ddd;
}

.float-main {
  overflow: hidden;
}

.first-letter::first-letter {
  float: left;
  color: #f40;
  font-size: 2em;
  font-weight: 600;
  margin-right: 0.5em;
}

/* cup */
.cup-main {
  float: left;
  width: 100%;
  padding: 0 100px;
}

.cup-left {
  float: left;
  width: 100px;
  margin-left: -100%;
  background-color: #ddd;
}

.cup-right {
  float: left;
  width: 100px;
  margin-left: -100px;
  background-color: #ccc;
}