:root {
  --item-gap: 0.4rem;
  --grid-color: #a8e073;
}

.aside {
  display: grid;
  grid-template-columns: 8rem 1fr;
  gap: var(--item-gap);
  grid-auto-rows: 60px;
}

.item {
  background-color: #ccc;
}

.aside>*,
.cup>*,
.stack>*,
.random>*,
.sudoku>*,
.ale>*,
article>* {
  background-color: var(--grid-color);
}

.grid3 {
  padding: 0;
}

.page-adv {
  display: grid;
  grid-template: auto 1fr auto/auto 1fr auto;
  height: 50vh;
  gap: 4px;
}

.page-adv>div {
  background-color: #ddd;
}

.page-adv .header,
.page-adv .footer {
  grid-column: 1/4;
}

.case0 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 1rem auto;
  background-color: #eee;
}

.case0>div,
.case1>div,
.case2>div {
  background-color: var(--grid-color);
}

.case1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 1rem auto;
  background-color: #eee;
  width: 100%;
  height: 320px;
}

.case2 {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  gap: 10px;
  margin: 1rem auto;
  width: 100%;
  height: 320px;
  background-color: #eee;
}

.self {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 320px;
  height: 320px;
  margin: 1rem auto;
  background-color: #eee;
}

.self div:nth-child(1) {
  justify-self: start;
  align-self: start;
}

.self div:nth-child(2) {
  justify-self: center;
  align-self: start;
}

.self div:nth-child(3) {
  justify-self: end;
  align-self: start;
}

.self div:nth-child(4) {
  justify-self: start;
  align-self: center;
}

.self div:nth-child(5) {
  justify-self: center;
  align-self: center;
}

.self div:nth-child(6) {
  justify-self: end;
  align-self: center;
}

.self div:nth-child(7) {
  justify-self: start;
  align-self: end;
}

.self div:nth-child(8) {
  justify-self: center;
  align-self: end;
}

.self div:nth-child(9) {
  justify-self: end;
  align-self: end;
}

.self>div {
  background-color: var(--grid-color);
}

@media screen and (max-width:768px) {

  .grid3 {
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
  }
}