 :root {
   --pos-h: 80px;
   --w: 1200px;
 }

 html {
   scroll-padding-top: var(--pos-h);
 }

 body.dark {
   --bg-color: #111;
   --txt-color: #fff;
   --shadow-color: var(--second-color);
 }

 table {
   width: 100%;
 }

 h1 {
   margin-right: auto;
 }

 h2 {
   text-transform: capitalize;
   font-weight: 600;
   margin-bottom: 2rem;
   padding-top: 2rem;
   padding-bottom: 2rem;

 }

 .theme {
   display: flex;
   align-items: center;
   cursor: pointer;
   padding: 0 6px;
 }

 .theme span {
   color: var(--theme-color);
   font-size: 2.4rem;
 }

 .theme span:last-child {
   display: none;
 }

 body.dark .theme span:first-child {
   display: none;
 }

 body.dark .theme span:last-child {
   display: block;
 }

 .w {
   display: grid;
   grid-template-columns: 120px 1fr;
   grid-template-areas:
     "header header"
     "nav nav"
     "aside main"
     "aside footer";
   grid-template-rows: auto auto 1fr auto;
   min-height: 100vh;
 }

 header {
   grid-area: header;
 }

 nav {
   grid-area: nav;
 }

 aside {
   grid-area: aside;
 }

 main {
   grid-area: main;
 }

 .footer {
   grid-area: footer;
 }

 header {
   height: var(--header-h);
   background-image: url(/imgs/banner.png);
   background-size: cover;
 }

 main {
   padding: var(--p-m-g);
 }

 /* nav */
 nav {
   position: sticky;
   top: 0;
 }

 .nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: var(--p-m-g);
   background-color: var(--bg-color);
   height: var(--pos-h);
 }

 nav.active {
   box-shadow: 0 2px 10px var(--shadow-color);
 }

 .ham {
   display: none;
 }

 /* aside */
 .aside {
   position: sticky;
   top: var(--pos-h);
   display: flex;
   flex-direction: column;
   padding: var(--p-m-g);
 }

 .nav-item {
   text-transform: capitalize;
   transition: .4s;
 }

 .nav-item:hover,
 .nav-item.active {
   color: var(--main-color);
 }

 .nav-cont:target h2 {
   background-color: var(--main-color);
   color: #fff;
 }

 /* main */
 .links a {
   text-decoration: underline;
   text-transform: capitalize;
 }

 .links a:hover {
   color: var(--warn-color);
 }

 .links a::after {
   content: '\ed0b';
   font-family: 'iconfont';
 }

 .back2top {
   position: fixed;
   bottom: 1rem;
   right: 1rem;
 }

 @media screen and (max-width:768px) {
   .w {
     display: block;
   }

   header {
     display: none;
   }

   .ham {
     display: block;
     color: var(--txt-color);
     font-size: 2.4rem;
     padding: 0 6px;
   }

   aside {
     position: fixed;
     right: -100%;
     top: var(--pos-h);
     width: 100%;
     text-align: right;
     background-color: var(--txt-color);
     height: calc(100vh - var(--pos-h));
     color: var(--bg-color);
     transition: 0.4s;
   }

   .nav-item {
     transform: translateX(100%);
     transition-delay: calc(var(--delay)*0.05s);
   }

   body.lock .nav-item {
     transform: translateX(0);
   }

   body.lock aside {
     right: 0;
   }

 }