.nav {
  display: flex;
  text-align: center;
}

.ham {
  display: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-item {
  margin: 0 1rem;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.ul-custom0 li::before {
  content: '>';
}

.ul-custom1 li::before {
  content: '\21e8';
}

.ul-custom2 li {
  display: flex;
  align-items: center;
}

.ul-custom2 li::before {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../imgs/logo1.png);
  background-size: cover;
  border-radius: 50%;
}

.self-nav {
  background-color: #f5f5f5;
  text-align: center;
  line-height: 40px;
}

.self-nav li {
  display: inline-block;
}

.self-nav a {
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  padding: 0 10px;
}

.self-nav a:hover {
  color: #f40;
  border-bottom: 1px solid #f40;
}

.tbao {
  background: #f5f5f5;
  height: 40px;
  line-height: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.tbao dt {
  float: left;
  line-height: unset;
  font-weight: unset;
}

.tbao dd {
  float: left;
  line-height: 40px;
}

.tbao dd span {
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 1px solid #999;
  cursor: pointer;
}

.tbao dd span:hover {
  color: #f40;
}

@media screen and (max-width:768px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 99;
  }

  .ham {
    display: block;
  }

  .nav {
    position: absolute;
    right: -100%;
    top: 120px;
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #333;
    z-index: -1;
    flex-direction: column;
    line-height: 40px;
    transition: .5s;
  }

  .nav-item {
    font-size: 1rem;
  }

  .active {
    right: 0;
  }

  .lock {
    overflow: hidden;
  }
}