@import url(./font_3922652_q38wzsopv1/iconfont.css);

:root {
    --main-dark-color: #1fd4ae;
    --main-light-color: #1ecc95;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 20rem 1fr;
    width: 100%;
    height: 100vh;
    gap: 2rem;
}

aside {
    padding: 2rem;
    background-color: #f0f0f0;
    user-select: none;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem 2rem;
}

.logo {
    max-width: 100%;
    object-fit: cover;
}

dl {
    padding: 1rem;
}

.title-box {
    display: flex;
    margin: 1rem auto;
    padding: 1rem;
    color: #999;
    font-size: 1.4rem;
    gap: .4rem;
}

.title-box span:first-child {
    margin-right: auto;
}

dl dd {
    padding: .6rem 1rem;
    border-radius: .4rem;
    margin: 1rem auto;
    font-size: 1.6rem;
    cursor: pointer;
}

dl dd .iconfont {
    font-size: 1.8rem;
    margin-right: .4rem;
}

dl dd:hover {
    background-color: #d8d8d8;
}

.nav-active {
    background-image: linear-gradient(to right, var(--main-dark-color), var(--main-light-color));
    color: #ffff;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.header .iconfont {
    cursor: pointer;
    font-size: 1.6rem;
}

.header-left {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
}


.header-left .search {
    position: absolute;
    left: 8rem;
    line-height: 3rem;
}

.header-left .yinfu {
    position: absolute;
    right: 0rem;
}

.header-left input {
    height: 3.5rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    background-color: #e3e3e3;
    padding: 0 2rem;
    font-size: 1.2rem;
    text-indent: 2em;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-right .avatar {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    vertical-align: middle;
}

.header-right .login-txt {
    font-size: 1.2rem;
    color: #999;
}

.cont-box {
    flex: 1;
    overflow-y: auto;
}

.cont-title {
    display: flex;
    align-items: center;
    height: 5rem;
    font-size: 1.4rem;
    padding-right: 2rem;
    margin: 2rem 0;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    margin-right: auto;
}

.cont-nav {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.cont-nav ul {
    display: flex;
    line-height: 5rem;
}

.cont-nav ul li:not(:last-child) {
    margin-right: 4rem;
}

.cont-nav-item {
    cursor: pointer;
}

.cont-nav-item:hover {
    color: var(--main-dark-color);
}

.cont-nav-active {
    position: relative;
    color: var(--main-dark-color);
}

.cont-nav-active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0rem;
    width: 80%;
    height: 4px;
    transform: translateX(-50%);
    background-color: var(--main-dark-color);
}

.cont-list {
    font-size: 1.4rem;
    user-select: none;
}

.list-item, .list-title {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    line-height: 5rem;
    padding: 0 1rem;
}

.list-title {
    font-size: 1.4rem;
}

.list-title .iconfont {
    font-size: 1.4rem;
}

.cont-list .icon-fav {
    cursor: pointer;
}

.active,
.list-item:hover {
    background-color: #efefef;
}

.per {
    width: 100%;
}

.per input {
    width: 100%;
}

.player {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.player .iconfont {
    cursor: pointer;
}

.player-left {
    display: flex;
    gap: 0.4rem;
}

.player-left .cover {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: #f46;
}

.player-left .player-left-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-left-desc {
    display: flex;
    gap: 1rem;
}

.player-middle {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.player-middle .iconfont {
    font-size: 2.4rem;
}

.player-middle .iconfont.ctrl {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background-color: var(--main-dark-color);
    color: #fff;
}

.player-mode-ctrl {
    position: absolute;
    font-size: 1.4rem;
    bottom: 5rem;
    left: -5.5rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    display: none;
}

.player-mode-ctrl::after {
    content: '';
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-top-color: #fff;
}

.player-ctrl-item {
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: 0.4rem 2rem;
    line-height: 4rem;
    cursor: pointer;
}

.player-ctrl-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.player-ctrl-item:hover {
    background-color: #f2f3f4;
}

.player-right {
    color: #999;
}

.player-right .rect {
    border-radius: 4px;
    border: 1px solid #999;
    padding: 0 .4rem;
}

footer {
    background-color: #f2f3f4;
    text-align: center;
    line-height: 80px;
    font-size: 1.4rem;
}