.sprite {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  place-items: center;
  margin: 2rem auto;
  gap: var(--p-m-g);
}

.sprite .item {
  display: flex;
  align-items: center;
  width: 180px;
  font-weight: 600;
}

.sprite .icon {
  width: 36px;
  height: 45px;
  overflow: hidden;
  background-image: url(../imgs/jd.png);
  background-repeat: no-repeat;
  text-indent: -999px;
}

.sprite .more {
  background-position: 0 -189px;
}

.sprite .fast {
  background-position: -41px -189px;
}

.sprite .good {
  background-position: -82px -189px;
}

.sprite .save {
  background-position: -123px -189px;
}

.info {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 2rem auto;
}

.info .item {
  /* width: 160px; */
  /* height: 356px; */
  width: 80px;
  height: 178px;
  background-color: #f1f1f2;
  background-image: url(../../imgs/oa.png);
  background-size: 800% 100%;
  background-repeat: no-repeat;
}

.info .item:nth-child(1) {
  background-position: left 20px center;
}

.info .item:nth-child(2) {
  background-position: left calc(-80px + 18px) center;
}

.info .item:nth-child(3) {
  background-position: left calc(-80px*2 + 14px) center;
}

.info .item:nth-child(4) {
  background-position: left calc(-80px*3 + 0px) center;
}