@import url(../../css/fonts_YuWei.css);

svg {
    display: block;
}

.svg-basic {
    width: 300px;
    height: 300px;
    margin: 4rem auto;
    background-color: #ff0;
}

.svg-line {
    stroke: #f40;
    stroke-width: 4px;
}

.svg-line-dash {
    stroke: #f40;
    stroke-width: 4px;
    stroke-dasharray: 10 20;
}

.svg-basic.loader {
    background-color: #f2f3f4;
    cursor: pointer;
}

#loader-circle {
    fill: transparent;
    stroke: #f40;
    stroke-width: 2px;
    stroke-dasharray: 0 1000;
}

#loader-circle:hover {
    animation: alternate loader 5s linear forwards;
}

@keyframes loader {
    to {
        stroke-dasharray: 1000;
    }
}

.svg-polygon {
    stroke: #f40;
    stroke-width: 2px;
    fill: none;
}

.svg-basic.txt {
    height: 60px;
}

.svg-txt-box {
    background-image: url(../imgs/section.jpg);
}

.svg-txt {
    width: 320px;
    height: 120px;
    margin: 0 auto;
}

.title-static {
    height: 120px;
    line-height: 120px;
    font-size: 40px;
    font-family: 'yuwei';
    text-shadow: 0 0 10px #ff0, 0 0 10px #ff0;
    fill: none;
    stroke: #fff;
    stroke-width: 1;
}

.title {
    height: 120px;
    line-height: 120px;
    font-size: 40px;
    font-family: 'yuwei';
    text-shadow: 0 0 10px #ff0, 0 0 10px #ff0;
    fill: none;
    stroke: #fff;
    stroke-width: 1;
    stroke-dasharray: 10 1000;
    stroke-dashoffset: 10;
    animation: draw 5s ease-in-out infinite;
}

@keyframes draw {
    100% {
        stroke-dasharray: 800;
        stroke-dashoffset: 0;
    }
}

.svg-demo {
    width: 300px;
    height: 300px;
    margin: 2rem auto;

}

.svg-demo .inner {
    fill: #2f2f2f;
    stroke: #3d3d3d;
    stroke-width: 40px;
}

.svg-demo .middle {
    fill: none;
    stroke: #f489f3;
    stroke-width: 40px;
    stroke-dasharray: 360 250;
    stroke-linecap: round;
}

.svg-demo .outer {
    fill: none;
    stroke: #01b3fd;
    stroke-width: 40px;
    stroke-dasharray: 100 700;
    stroke-dashoffset: 990;
    stroke-linecap: round;
}

.txt1 {
    font-size: 40px;
    font-weight: 600;
    fill: #ffffff;
}

.txt2 {
    font-size: 20px;
    font-weight: 600;
    fill: #ffffff;
}

.txt3 {
    font-size: 14px;
    fill: #ffffff;
}