@import url(//at.alicdn.com/t/c/font_2964916_jucd5zvvdh.css);

:root {
  --color-blue: #4bc2ce;
  --color-blue-alpha: hsla(204, 64%, 44%, 0.3);
  --color-yellow: #dcdcaa;
  --color-orange: #f39c12;
  --color-green: #2ecc71;
  --color-pink: #e17a95;
  --color-light-pink: rgba(225, 122, 149, .4);
  --color-msg: #f2e3da;
  --main-nav-h: 10vh;
  --border-r: 6px;
  --scroll-bar-w: 8px;
  --p-m-g: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Quicksand', "微软雅黑", "Microsoft YaHei", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

a {
  font: inherit;
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

button {
  padding: 6px 30px;
  color: #fff;
  background-size: 200%;
  border-radius: var(--border-r);
  text-transform: capitalize;
  transition: 0.4s;
  cursor: pointer;
}

button:hover {
  background-position: right center;
}

h3 {
  margin-bottom: calc(2*var(--p-m-g));
  text-transform: capitalize;
}

.iconfont {
  font-size: 2rem;
}

table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  line-height: 2;
}

table th,
table td {
  padding: 0 var(--p-m-g);
  font-family: 'Inconsolata', "微软雅黑", "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.tbl-info td {
  border-bottom: 1px dotted #ccc;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--main-nav-h);
  font-size: 62.5%;
}

body {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  font-size: 1.6rem;
}

body::-webkit-scrollbar {
  width: var(--scroll-bar-w);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--color-blue), transparent);
  cursor: pointer;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: calc(4*var(--p-m-g));
  row-gap: calc(8*var(--p-m-g));
}

header {
  height: 20vh;
  background-color: #fff;
}

#time {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2;
}

.main-nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--main-nav-h);
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.2s;
  z-index: 99;
}

.main-nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
}

.main-nav.active {
  background-color: #000;
  color: var(--color-yellow);
}

.main-nav.active::after {
  background-image: linear-gradient(90deg, var(--color-blue), var(--color-green), var(--color-orange), var(--color-pink));
}

h1 {
  position: relative;
  font-size: 2rem;
  padding: 0 var(--p-m-g);
  font-weight: normal;
}

h1::before {
  content: '';
  position: absolute;
  right: -2rem;
  top: -1rem;
  width: 0;
  height: 0;
  border-top: 1rem solid var(--color-blue);
  border-right: 1rem solid var(--color-orange);
  border-bottom: 1rem solid var(--color-green);
  border-left: 1rem solid var(--color-pink);
  border-radius: 50%;
  animation: roll 4s linear infinite;
}

@keyframes roll {
  to {
    transform: rotate(360deg);
  }
}

.ham {
  display: none;
}

.nav {
  display: flex;
  height: 40px;
  overflow: hidden;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 40px;
  padding: 0 var(--p-m-g);
  transition: 0.4s;
  font-size: 18px;
}

.nav .iconfont {
  font-size: 2.4rem;
}

.nav-item.active,
.nav-item:hover {
  transform: translateY(-100%);
}

/* .nav-item:hover i {
  transform: scale(1.4);
} */

h2 {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--main-nav-h);
  background-color: #f1f2f3;
  padding-left: calc(var(--main-nav-h)/2);
  color: var(--color);
  font-size: 1.8rem;
  font-weight: normal;
  margin: var(--main-nav-h) auto 3rem 1rem;
}

h2 {
  animation: rotIcon both;
  animation-timeline: view(40% 0%);
}

@keyframes rotIcon {
  0% {
    transform: translateY(100px) scale(0.65);
    opacity: 0;
  }

  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

h2 .iconfont {
  font-size: 3rem;
}

/* 
.nav-cont {
  padding: calc(2*var(--p-m-g)) var(--p-m-g);
} */

.title-bar {
  position: absolute;
  left: -10px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--main-nav-h);
  aspect-ratio: 1;
  /* background-color: var(--color); */
  overflow: hidden;
}

.title-bar::before {
  content: attr(data-title);
  position: absolute;
  width: 150%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #f1f2f3;
  text-transform: capitalize;
  background-color: var(--color);
  transform: rotate(-45deg) translateY(-15px);
}

.title-bar::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  background-color: #333;
  box-shadow: calc(var(--main-nav-h) - 10px) calc(10px - var(--main-nav-h)) #333;
  z-index: -1;
}

/* tags */
.tags {
  padding: 2rem var(--p-m-g);
}

.tags li {
  text-align: center;
  margin: 40px auto;
  animation: blur;
  animation-timeline: view();
}

.tags li span {
  border-radius: var(--border-r);
  padding: var(--p-m-g);
  border: 1px solid var(--color-blue);
  max-width: 140px;
  font-size: 12px;
}

@keyframes blur {

  0%,
  100% {
    filter: blur(2px);
  }

  50% {
    filter: blur(0px);
  }
}

/* home start */
.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: calc(4*var(--p-m-g));
  row-gap: calc(8*var(--p-m-g));
}

.txt {
  position: relative;
  columns: 200px 2;
  text-align: justify;
  margin-bottom: 1em;
}

.txt p {
  margin-bottom: 1em;
}

.txt a {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.txt a:hover {
  color: var(--color);
}

.txt p::first-letter {
  float: left;
  font-size: 2em;
  margin-right: 1em;
  color: var(--color);
}

.intro {
  grid-area: inrto;
  padding: 2rem 0;
}

.avatar {
  position: relative;
}

.avatar::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1rem solid rgba(255, 255, 255, 0.4);
}

.imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--p-m-g);
  min-height: 32rem;
}

.imgs .img {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: var(--border-r);
}

.imgs .img0 {
  background-image: url(https://picsum.photos/800/600?random=10);
  grid-row: 1/3;
}

.imgs .img1 {
  background-image: url(https://picsum.photos/800/600?random=11);
}

.imgs .img2 {
  background-image: url(https://picsum.photos/800/600?random=12);
}

.tbl-wrap,
.skill-wrap {
  margin-top: 10vh;
}

.tbl-sticky table th {
  background-color: var(--color);
  color: #fff;
  font-weight: normal;
  text-align: left;
}

.tbl-sticky table tr:nth-child(even) td {
  background-color: #f1f2f3;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: var(--p-m-g);
}

.skill-wrap .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--p-m-g);
  margin-bottom: calc(2*var(--p-m-g));
}

.skill-wrap .info span:first-child {
  flex-basis: 8rem;
}

.skill-wrap .bar {
  flex: 1;
  height: 1.2rem;
  border-radius: 1rem;
  border: 1px solid var(--color);
  padding: 2px;
  display: flex;
  justify-content: flex-end;
}

.skill-wrap .bar::before {
  content: '';
  width: calc(var(--per)*1%);
  height: 100%;
  border-radius: 1rem;
  background-color: var(--color);
}

/* home end */
/* work start */
.work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  place-items: center;
}

.work-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--p-m-g);
  padding: calc(4*var(--p-m-g)) var(--p-m-g);
  text-align: center;
  border: 1px solid #eee;
}

.work-imgs {
  width: 15rem;
  height: 15rem;
  perspective: 1000px;
  cursor: pointer;
}

.work-border {
  position: absolute;
  inset: 0;
  border: 4px solid #eee;
  border-radius: 50%;
  transform-style: preserve-3d;
  transition: 0.6s 0.3s;
}

.work-img {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s;
}

.work-img::before,
.work-img::after {
  content: '';
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  background-size: cover;
}

.work-img::before {
  background-image: var(--url1);
}

.work-img::after {
  background-image: var(--url2);
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.work-item .more {
  position: relative;
  color: var(--color);
  /* box-shadow: 2px 2px #333; */
  border: 1px solid var(--color);
  transition: 0.4s;
}

.work-item .more::before {
  content: '';
  position: absolute;
  inset: 0 100% 0 0;
  background-color: var(--color);
  transition: 0.4s;
  z-index: -1;
}

.work-item .more:hover {
  /* box-shadow: 8px 8px 8px #333; */
  color: #fff;
}

.work-item .more:hover::before {
  inset: 0 0 0 0;
}

.work-imgs:hover .work-border {
  border-color: var(--color);
  transform: rotateY(-180deg);
}

.work-imgs:hover .work-img {
  transform: rotateY(180deg);
}

/* work end */
/* awards */
.awards {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  min-height: 50vh;
  margin: 0 auto;
}

.awards-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.awards-wrap .awards-item {
  position: relative;
  width: 200px;
  aspect-ratio: 9/16;
  background-image: var(--url);
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0 var(--p-m-g) var(--p-m-g) rgba(0, 0, 0, 0.5));
  transition: 0.4s;
}

.awards-wrap:hover>.awards-item:not(:hover) {
  margin: 0 -40px;
  transform: rotateY(45deg) scale(0.8);
}

.awards-wrap .awards-item:hover~.awards-item {
  transform: rotateY(-45deg) scale(0.8);
}

.awards-wrap .awards-item:hover {
  transform: rotateY(0deg) scale(1.05);
  z-index: 100;
}

/* gal */

.gal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  counter-reset: img-sn;
  column-gap: calc(4*var(--p-m-g));
  row-gap: calc(8*var(--p-m-g));
}

.gal figure {
  height: 100%;
  cursor: pointer;
  line-height: 2;
  text-align: center;
  overflow: hidden;
}

.gal figure figcaption {
  counter-increment: img-sn;
  font-size: 1.4rem;
}

.gal figure figcaption::before {
  content: '图' counter(img-sn)' ';
}

.gal figure div {
  overflow: hidden;
  border-radius: var(--border-r);
  mask-image: var(--mask-img);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.gal figure img {
  transition: 0.5s;
}

.gal figure div:hover img {
  transform: scale(1.5);
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-alpha);
  backdrop-filter: blur(10px);
  visibility: hidden;
  z-index: 99;
}

.modal-wrap {
  position: relative;
  width: 90%;
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 3rem 2rem;
}

.modal-wrap h3 {
  text-align: center;
}

.figure-modal .modal-cont {
  aspect-ratio: 16/9;
  overflow: auto;
}

.figure-modal .modal-cont::-webkit-scrollbar {
  width: 8px;
}

.figure-modal .modal-cont::-webkit-scrollbar-thumb {
  background-color: var(--color);
  cursor: pointer;
}

.figure-modal ul {
  margin-left: 3rem;
  margin-right: var(--p-m-g);
}

.figure-modal ul li {
  list-style: square;
  text-align: justify;
  margin-bottom: 2rem;
}

.figure-modal ul li::marker {
  color: var(--color-blue);
}

.modal-wrap i {
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}

.figure-modal i:hover {
  color: var(--color-blue);
  transform: scale(1.1);
}

.figure-modal.active {
  visibility: visible;
}

body:has(.figure-modal.active) {
  overflow: hidden;
}

/* team */
#team {
  perspective: 1000px;
}

.team-wrap {
  position: relative;
  width: 150px;
  aspect-ratio: 9/16;
  display: flex;
  margin: 100px auto;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 1.5s;
}

.team-wrap .team-item {
  position: absolute;
  inset: 0;
  background-color: var(--color);
  transform: rotateY(calc(var(--deg)*60deg)) translateZ(140px);
  background-image: var(--src);
  background-size: cover;
  filter: drop-shadow(0 var(--p-m-g) var(--p-m-g) rgba(0, 0, 0, 0.5));
}

.team-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--p-m-g);
}

.team-btn .btn {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #666;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.team-btn .btn::before {
  content: '';
  position: absolute;
  inset: 100% 0 0;
  background-color: var(--color);
  transition: 0.5s;
  z-index: -1;
}

.team-btn .btn:hover {
  color: #fff;
}

.team-btn .btn:hover::before {
  inset-block-start: 0;
}

/* music */
audio {
  width: 100%;
}

.lists {
  height: 32vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color) transparent;
}

.lists li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--p-m-g);
  counter-increment: list-sn;
  line-height: 1.5;
}

.lists li::before {
  content: counter(list-sn);
  width: 3rem;
  text-align: right;
}

.lists li a {
  margin-right: auto;
  transition: 0.4s;
}

.lists li a:hover {
  letter-spacing: 2px;
}

.lists li:nth-child(-n+3)::before {
  content: '\e647';
  font-family: 'iconfont';
  color: var(--color);
}

/* 
.lists li {
  counter-increment: list-sn;
  display: flex;
  align-items: center;
  gap: var(--p-m-g);
  margin-bottom: 4px;
  cursor: pointer;
}

.lists li::before {
  content: counter(list-sn)'. ';
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.lists li:nth-child(-n+3)::before {
  color: #fff;
  background-color: var(--color);
}

.lists li::after {
  content: '';
  flex: 1;
  height: 3px;
  background-image: url(../imgs/dot.png);
  background-repeat: repeat-x;
}

.lists li .iconfont {
  order: 1;
}

.music-modal .modal-wrap {
  background-color: var(--color);
  color: #fff;
}

.disc {
  width: 240px;
  height: 240px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto;
}

.range,
.control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--p-m-g);
  margin: 4rem auto;
}

.range input {
  flex: 1;
}

.control div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.control div:nth-child(2) {
  width: 8rem;
  height: 8rem;
}

.control .iconfont {
  font-size: 2.4rem;
}

.music-modal.active {
  visibility: visible;
}

body:has(.music-modal.active) {
  overflow: hidden;
} */

/* help start */
.help {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  column-gap: calc(2*var(--p-m-g));
  row-gap: calc(8*var(--p-m-g));
  margin: 4rem auto;
  font-size: 1.5rem;
  line-height: 2;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: var(--p-m-g) 0;
}

.help dt {
  font-weight: 600;
}

.help dd a::before {
  content: '\e83b' ' ';
  font-family: 'iconfont';
}

.help a:hover {
  color: var(--color-pink);
}

.help::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -3px;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: var(--color-pink);
}

.help::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: var(--color-pink);
}

/* help end */
footer {
  display: flex;
  align-items: center;
  margin: 2rem auto;
}

footer span {
  flex: 1;
  font-size: 1.2rem;
}

footer span:first-child {
  text-align: right;
}

footer img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: var(--p-m-g);
}

.tri {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--p-m-g);
  width: 200px;
  margin: 0 auto;
}

.tri div {
  width: 100px;
  height: 100px;
  background-image: var(--url);
  background-size: cover;
  background-position: center;
  margin: 0 -25px;
}

.tri div:nth-child(1),
.tri div:nth-child(3),
.tri div:nth-child(4) {
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0%);
}

.tri div:nth-child(2) {
  clip-path: polygon(50% 0, 100% 100%, 0% 100%, 50% 0%);
}

@media screen and (max-width:768px) {
  body.active {
    overflow: hidden;
  }

  header {
    height: 30vh;
    padding: calc(var(--main-nav-h) + var(--border-r)) var(--border-r) var(--border-r);
  }

  header .swiper {
    clip-path: unset;
    border-radius: var(--border-r);
  }

  #time {
    display: none;
  }

  .main-nav {
    position: fixed;
    padding: var(--p-m-g);
    background-color: #000;
    color: var(--color-yellow);
  }

  .ham {
    display: block;
    position: relative;
    width: 3rem;
    height: 4px;
    background-color: var(--color-yellow);
  }

  .ham::before,
  .ham::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-yellow);
    transition: .2s;
  }

  .ham.active {
    background-color: transparent;
  }

  .ham::before {
    transform: translateY(-8px);
  }

  .ham::after {
    transform: translateY(8px);
  }

  .ham.active::before {
    transform: rotate(45deg);
  }

  .ham.active::after {
    transform: rotate(-45deg);
  }

  .nav {
    position: absolute;
    top: var(--main-nav-h);
    right: -50%;
    width: 50%;
    height: calc(100vh - var(--main-nav-h));
    padding: var(--p-m-g);
    background-color: #000;
    color: var(--color-yellow);
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
  }

  .nav.active {
    right: 0;
  }

  .nav-item {
    flex-direction: row;
    gap: var(--p-m-g);
    width: 100%;
    font-size: 1.6rem;
    transform: translateX(100%);
    opacity: 0;
    transition-delay: calc(var(--delay)*0.05s);
  }

  .nav.active .nav-item {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }

  .nav-cont {
    padding: var(--p-m-g);
  }

  h2 {
    line-height: 3;
  }

  .input-box.message {
    min-height: 20vh;
  }

  .skill-wrap .info,
  .gal figure,
  .work-item {
    animation: rotIcon both;
    animation-timeline: view(40% 10%);
  }

  footer {
    flex-direction: column;
  }

  footer img {
    order: -1;
  }
}