:root {
  --main-color: #ff5d73;
  --body-color: #f3f4f5;
  --yellow-color: #FDC830;
  --header-color: #089;
  --tbl-color: #1abc9c;
  --tbl-border-color: #666;
  --tbl-bgc: #ddd;
  --scrollbar-color: #abc;
  --scrollbar-bg-color: #ecf0f1;
  --margin: 2rem;
  --padding: 2rem;
  --code-color: #333;
  ---code-bg: #fed;
}

body,
header,
main,
div,
h1,
h5,
dl,
dt,
dd,
footer,
nav,
figure,
pre {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-color: var(--body-color);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  width: 10px;
  border-radius: 10px;
  background: var(--scrollbar-bg-color);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--scrollbar-color);
}

header {
  height: 300px;
  background: var(--header-color);
  background: linear-gradient(180deg, var(--header-color), #2b5876);
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: calc(-3*var(--margin));
  padding: var(--padding);
  background-color: #fff;
  z-index: 1;
  border-top: 8px solid var(--yellow-color);
}

dt {
  font-weight: 600;
  margin-top: var(--margin);
}

dd,
.txt-justify {
  text-align: justify;
}

a {
  color: inherit;
  text-decoration: none;
}

a::after {
  content: ' \27a5';
  color: var(--main-color);
}

img {
  display: block;
  width: 100%;
  max-width: 350px;
}

iframe {
  display: block;
  width: 100%;
  margin-top: 6rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  line-height: 2;
}

th {
  background-color: var(--tbl-color);
  color: #fff;
  text-align: center;
}

td {
  text-align: center;
  border: 1px solid var(--tbl-border-color);
}

.tbl {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

.txt-bold {
  font-weight: 600;
}

.txt-indent {
  text-indent: 2em;
}

.warn {
  color: var(--main-color);
}

.mt2 {
  margin-top: var(--margin);
}

@media screen and (max-width:768px) {

  header {
    height: 160px;
  }
}