.basic {
    width: 300px;
    height: 300px;
    margin: 1rem auto;
  }
  
  .single-img {
    height: 200px;
    background-color: #a8e073;
    background-image: url(../imgs/logo0.png);
    background-position: right bottom;
    background-size: 50px;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    /* background: #a8e073 url(../imgs/logo0.png) right bottom/50px no-repeat; */
  }
  
  .multi-img {
    height: 200px;
    background-image: url(../imgs/logo0.png), url(../imgs/logo1.png);
    background-position: right bottom, top left;
    background-size: 50px;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    /* background: url(../imgs/logo0.png) right bottom/50px no-repeat, url(../imgs/logo1.png) top left/50px no-repeat; */
    background-color: #a8e073;
  }
  
  .rpt li {
    display: flex;
    align-items: center;
  }
  
  .rpt div {
    flex: 1;
    height: 3px;
    background-image: url(../imgs/dot.png);
    background-repeat: repeat-x;
  }
  
  .slider-bg {
    height: 150px;
    background-image: url(../imgs/banner.jpg);
    transition: 2s;
  }
  
  .slider-bg:hover {
    background-position: right top;
  }
  
  .sprite {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .sprite>div {
    display: flex;
    align-items: center;
    width: 180px;
    margin: 2rem auto;
    font-weight: 600;
  }
  
  .sprite .icon {
    width: 36px;
    height: 45px;
    overflow: hidden;
    background-image: url(../imgs/jd.png);
    background-repeat: no-repeat;
    text-indent: -999px;
  }
  
  .sprite .more {
    background-position: 0 -189px;
  }
  
  .sprite .fast {
    background-position: -41px -189px;
  }
  
  .sprite .good {
    background-position: -82px -189px;
  }
  
  .sprite .save {
    background-position: -123px -189px;
  }
  
  .tile {
    width: 320px;
    height: 180px;
    margin: 2rem auto;
    display: flex;
  }
  
  .tile div {
    cursor: pointer;
  }
  
  .tile-2>div {
    flex: 1;
    background-image: url(../imgs/bg.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
  }
  
  .tile-2>div:nth-child(1) {
    background-position: 0;
  }
  
  .tile-2>div:nth-child(2) {
    background-position: 100%;
  }
  
  .tile-2>div:hover {
    transform: translateY(1rem);
  }
  
  .tile-3>div {
    flex: 1;
    background-image: url(../imgs/bg.jpg);
    background-size: 300%;
    background-repeat: no-repeat;
  }
  
  .tile-3>div:nth-child(1) {
    background-position: 0;
  }
  
  .tile-3>div:nth-child(2) {
    background-position: 50%;
  }
  
  .tile-3>div:nth-child(3) {
    background-position: 100%;
  }
  
  .tile-3>div:hover {
    transform: translateY(1rem);
  }
  
  .tile-4>div {
    flex: 1;
    background-image: url(../imgs/bg.jpg);
    background-size: 400%;
    background-repeat: no-repeat;
  }
  
  .tile-4>div:nth-child(1) {
    background-position: 0;
  }
  
  .tile-4>div:nth-child(2) {
    background-position: 33.3%;
  }
  
  .tile-4>div:nth-child(3) {
    background-position: 66.7%;
  }
  
  .tile-4>div:nth-child(4) {
    background-position: 100%;
  }
  
  .tile-4>div:hover {
    transform: translateY(1rem);
  }
  
  .tile-4.adv div {
    background-position: calc(var(--pos)*100%/(4 - 1));
  }
  
  .size {
    width: 320px;
    height: 180px;
    margin: 2rem auto;
    background-image: url(../imgs/bg.jpg);
  }
  
  .px {
    background-size: 100px 100px;
  }
  
  .per {
    background-size: 20%;
  }
  
  .cover {
    background-size: cover;
  }
  
  .contain {
    background-size: contain;
  }
  
  .cover-center {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .dog {
    position: relative;
    background-image: linear-gradient(210deg, transparent 3em, #ddd 0);
    border-radius: 1em;
    overflow: hidden;
  }
  
  .dog::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-120deg, #888 3em, transparent 0);
    border-radius: 1em;
    transform-origin: top right;
    transform: rotate(150deg) translate(5em, -3em);
  }