.grid3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .grid3 img {
    width: 320px;
  }
  
  .basic {
    width: 300px;
    height: 300px;
    margin: 1rem auto;
  }
  
  .default-bg {
    background-image: linear-gradient(#f40, #ff0);
  }
  
  .deg0-bg {
    background-image: linear-gradient(0deg, #f40, #ff0);
  }
  
  .deg45-bg {
    background-image: linear-gradient(45deg, #f40, #ff0);
  }
  
  .price-bg {
    width: 300px;
    height: 30px;
    margin: 1rem auto;
    border: 1px solid rgb(225, 37, 27);
    background-image: linear-gradient(135deg, #f40 50%, transparent 0);
  }
  
  .zebra-bg {
    width: 300px;
    height: 30px;
    margin: 1rem auto;
    border: 1px solid rgb(225, 37, 27);
    background-image: linear-gradient(90deg, #f40 10%, transparent 0, transparent 20%, #f40, 0, #f40 30%, transparent 0, transparent 40%, #f40, 0, #f40 50%, transparent 0, transparent 40%, #f40, 0, #f40 50%, transparent 0, transparent 60%, #f40, 0, #f40 70%, transparent 0, transparent 80%, #f40, 0, #f40 90%, transparent 0, transparent 100%);
  }
  
  .rt-bg {
    width: 300px;
    margin: 1rem auto;
    height: 30px;
    background-image: linear-gradient(225deg, transparent 10px, #f40, 0, #f40 100%);
  }
  
  .ltrt-bg {
    width: 300px;
    margin: 1rem auto;
    height: 30px;
    background: linear-gradient(135deg, transparent 10px, #f40, 0, #f40 100%),
      linear-gradient(225deg, transparent 10px, #f40, 0, #f40 100%) right;
    background-size: 50% 100%;
    background-repeat: no-repeat;
  }
  
  .all-bg {
    background: linear-gradient(45deg, transparent 10px, #f40, 0, #f40 100%) bottom left, linear-gradient(135deg, transparent 10px, #f40, 0, #f40 100%) top left,
      linear-gradient(225deg, transparent 10px, #f40, 0, #f40 100%) top right, linear-gradient(325deg, transparent 10px, #f40, 0, #f40 100%) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
  }
  
  .tips-bg {
    display: block;
    width: 300px;
    height: 300px;
    margin: 1rem auto;
  }
  
  .radial-basic {
    width: 300px;
    height: 400px;
    margin: 1rem auto;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(204, 204, 204);
  }
  
  .default-radial {
    background-image: radial-gradient(#f40, #ff0);
  }
  
  .lt-radial {
    background-image: radial-gradient(circle at left top, #f40, #ff0);
  }
  
  .lt-clip-radial {
    background-image: radial-gradient(circle at top left, #f40 50%, #ff0 0);
  }
  
  .rt-clip-radial {
    background-image: radial-gradient(circle closest-side at 250px 50px, #f40 50%, #ff0 0);
  }
  
  .single-radial {
    background-image: radial-gradient(at 0% 0%, transparent 71%, #f40 0);
  }
  
  .ad-radial {
    background: radial-gradient(circle at -10% 10%, transparent 70%, rgba(255, 68, 0, 0.3) 0), radial-gradient(circle at 5% 20%, transparent 70%, rgba(255, 68, 0, 0.6) 0), radial-gradient(circle at 10% 10%, transparent 75%, rgb(255, 68, 0) 0);
  }
  
  .size-bg {
    background: radial-gradient(30px circle at 0 0, transparent 50%, #f40 0), radial-gradient(30px circle at 100% 0, transparent 50%, #f40 0) right top,
      radial-gradient(30px circle at 100% 100%, transparent 50%, #f40 0) right bottom, radial-gradient(30px circle at 0% 100%, transparent 50%, #f40 0) left bottom;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    border: none;
    box-shadow: none;
    filter: drop-shadow(0 0 10px #666);
  }
  
  
  .blend-img {
    width: 320px;
    min-height: 180px;
    background: url(../imgs/bg.jpg), url(../imgs/mask0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: screen;
  }
  
  .pie0 {
    border-radius: 50%;
    background-image: conic-gradient(#f3f3f3, #078);
  }
  
  .pie1 {
    border-radius: 50%;
    background-image: conic-gradient(hsl(188, 100%, 40%) 0deg, hsl(188, 100%, 40%) 40deg, hsl(188, 100%, 27%) 40deg, hsl(188, 100%, 27%) 120deg, hsl(188, 100%, 20%) 120deg, hsl(188, 100%, 20%) 360deg);
  }
  
  .home-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .home-flex img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin: 2rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
  
  .mask-bg {
    height: 300px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url(../imgs/1.jpg) center/cover;
  }