:root {
    --main-color: #f40;
  }
  
  h1 {
    border-bottom: 2px solid #fff;
    border-radius: 50%;
  }
  
  .basic {
    width: 300px;
    height: 300px;
    margin: 1rem auto;
  }
  
  .basic0 {
    border: 1px var(--main-color) solid;
  }
  
  .basic1 {
    border-top: 4px dotted #f08;
    border-right: 4px dashed #089;
    border-bottom: 4px solid var(--main-color);
    border-left: 4px double #890;
  }
  
  .basic2 {
    border: 20px dashed rgba(255, 255, 255, 0.2);
    background-color: var(--main-color);
  }
  
  .basic3 {
    padding: 1rem;
    border: 20px dashed rgba(255, 255, 255, 0.4);
    background-color: var(--main-color);
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    background-origin: border-box;
  }
  
  .zero0 {
    width: 0;
    height: 0;
    margin: 1rem auto;
    border-width: 20px;
    border-style: solid;
    border-top-color: #f08;
    border-right-color: #089;
    border-bottom-color: var(--main-color);
    border-left-color: #890;
  }
  
  .zero1 {
    width: 0;
    height: 0;
    margin: 1rem auto;
    border: 20px solid transparent;
    border-bottom-color: var(--main-color);
  }
  
  .radiu0 {
    background-color: var(--main-color);
    border-radius: 50%;
  }
  
  .radiu1 {
    background-color: var(--main-color);
    border-top-left-radius: 100%;
  }
  
  .radiu2 {
    background-color: var(--main-color);
    border-radius: 0 50% /0 50%;
  }
  
  .radiu3 {
    background-color: var(--main-color);
    border-radius: 0 50% 50%/0 50% 50%;
  }
  
  .radiu4 {
    background-color: var(--main-color);
    border-radius: 0 100% 100% 0/50%;
  }
  
  .egg {
    width: 200px;
    height: 300px;
    margin: auto;
    background-color: var(--main-color);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
  
  .b-img {
    width: 81px;
    height: 81px;
  }
  
  .b-img0 {
    background-color: #ddd;
    border: 27px solid var(--main-color);
    border-image-source: url(../imgs/border-img.png);
  }
  
  .b-img1 {
    background-color: #ddd;
    border: 27px solid var(--main-color);
    border-image-source: url(../imgs/border-img.png);
    border-image-slice: 27;
    border-image-repeat: round;
  }
  
  .b-img2 {
    background-color: #ddd;
    border: 27px solid var(--main-color);
    border-image-source: url(../imgs/border-img.png);
    border-image-slice: 50%;
    border-image-repeat: round;
  }
  
  .b-img3 {
    background-color: #ddd;
    border: 27px solid var(--main-color);
    border-image-source: url(../imgs/border-img.png);
    border-image-slice: calc(100%/6);
    border-image-repeat: round;
  }
  
  .b-img4 {
    background-color: #ddd;
    border: 27px solid var(--main-color);
    border-image-source: url(../imgs/border-img.png);
    border-image-slice: calc(100%/3);
    border-image-width: 50%;
    border-image-repeat: round;
  }
  
  .b-img5 {
    background-color: #ddd;
    border: 27px solid var(--main-color);
    border-image-source: url(../imgs/border-img.png);
    border-image-slice: calc(100%/6);
    border-image-width: 5%;
    border-image-repeat: round;
  }
  
  .border-shadow {
    background: #fff;
    padding: 10px;
    position: relative;
    border: 1px solid #ddd;
  }
  
  .border-shadow::after,
  .border-shadow::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    bottom: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border-radius: 100px/10px;
    z-index: -1;
  }
  
  .border-rotate {
    position: relative;
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .border-rotate::after,
  .border-rotate::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 40%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
    z-index: -1;
  }
  
  .border-rotate::before {
    left: 20px;
    bottom: 10px;
    transform: skew(-18deg, -8deg);
  }
  
  .border-rotate::after {
    right: 20px;
    bottom: 10px;
    transform: skew(18deg, 8deg);
  }
  
  .border {
    background-size: 10px 10px;
  }
  
  .bullet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    height: 100px;
    margin: 1rem auto;
    padding: 10px 20px;
    border-left: 4px solid var(--main-color);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
    line-height: initial;
  }
  
  .bullet .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    border-bottom: 4px solid rgba(0, 0, 0, 0.8);
  }
  
  .bullet .icon .iconfont {
    display: block;
    color: #fff;
    margin: auto;
  }
  
  .border-blk {
    width: 60px;
    height: 60px;
    margin: 2rem auto;
    border-radius: 50%;
    border: 1px solid #f40;
    border-block-start-color: transparent;
    border-block-end: 4px dashed #089;
    transition: 1s;
  }
  
  .border-blk:hover {
    transform: rotate(360deg);
  }
  
  .water {
    --water-color: rgba(0, 0, 0, 0.05);
    width: 180px;
    height: 180px;
    margin: 2rem auto;
    box-shadow:
      inset 20px 20px 20px var(--water-color),
      20px 20px 20px var(--water-color),
      inset -20px -20px 20px rgba(255, 255, 255, 0.05);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transition: 1s;
    cursor: pointer;
  }
  
  .water:hover {
    border-radius: 50%;
  }
  
  .water-wrap #w:checked~.water {
    --water-color: rgba(0, 0, 0, 0.1);
  }
  
  .water-wrap #b:checked~.water {
    --water-color: rgba(5, 169, 243, 0.2);
  }
  
  .border-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #05a9f3;
  }
  
  .border-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    background-color: #fff;
    border: 4px solid #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    overflow: hidden;
  }
  
  .border-nav ul li {
    padding: 10px 20px;
    cursor: pointer;
    color: #05a9f3;
  }
  
  .border-nav ul li:hover {
    background-color: rgba(5, 169, 243, 0.5);
    border-radius: 10px;
    color: #fff;
    transition: .5s;
  }
  
  .bar {
    width: 300px;
    height: 20px;
    margin: 2rem auto;
    border-radius: 20px;
    border: 4px solid transparent;
    box-shadow: 0 0 0 1px var(--color);
  }
  
  .bar div {
    width: calc(var(--per)*1%);
    height: 100%;
    background-color: var(--color);
    border-radius: 20px;
  }