.header {
  --nav-h: 30vh;
  position: relative;
  text-align: center;
  color: white;
  background: linear-gradient(60deg, rgb(84, 58, 183) 0%, rgb(0, 172, 193) 100%);
  z-index: 1;
}

nav {
  width: min(var(--w), 100%);
  display: flex;
  align-items: flex-end;
  height: var(--nav-h);
  padding: var(--p-m-g);
  margin: 0 auto;
}

.ham {
  display: none;
}

.logo {
  margin-right: auto;
}

.nav {
  display: flex;
  gap: var(--p-m-g);
}

.nav-item {
  color: #fff;
  padding: 2px 12px;
  border-radius: 6px;
  text-decoration: none;
}

.nav-item.active,
.nav-item:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.waves-wrap {
  width: 100%;
}

.waves {
  position: relative;
  width: 100%;
  height: clamp(40px, 5vh, 60px);
  margin-bottom: -10px;
}

.waves use {
  animation: wave var(--dur) cubic-bezier(0.55, 0.5, 0.45, 0.5) var(--delay) infinite;
  fill: rgb(255, 255, 255, var(--alpha));
}

h2 {
  font-weight: 600;
}

@keyframes wave {
  from {
    transform: translateX(-90px);
  }

  to {
    transform: translateX(85px);
  }
}

@media screen and (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    --nav-h: 80px;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
  }

  nav {
    align-items: center;
  }

  .ham {
    display: block;
    color: #fff;
    font-size: 3rem;
  }

  .nav {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    flex-direction: column;
    padding: var(--p-m-g);
    background: linear-gradient(60deg, rgb(84, 58, 183) 0%, rgb(0, 172, 193) 100%);
    z-index: 9;
    transition: 0.4s;
  }

  body.lock .nav {
    top: 0;
  }
}