body {
    background-color: #eb2c58;
    font-size: 18px;
}

.cover {
    position: relative;
}

.qrcode-box {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
}

.qrcode-box img {
    width: 70px;
    height: 70px;
    margin: 0;
}

.qr-txt {
    font-size: 14px;
}

.cube-box {
    margin-top: 6rem;
}

.color-box {
    position: fixed;
    top: 1rem;
    right: 2rem;
    display: flex;
    z-index: 99;
}

.color {
    width: 32px;
    height: 18px;
    border: 1px solid #fff;
    cursor: pointer;
}

.red {
    background-color: #eb2c58;
}

.blue {
    background-color: #0c2461;
}

.ack svg {
    filter: drop-shadow(0 0 2rem #fff);
}

.svg-footer {
    width: 405px;
}

.unit-box {
    width: 80%;
    height: 90%;
    margin: auto;
}

.infor-box {
    width: 100%;
    height: 80%;
    position: relative;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    /* background-color: #f0f; */
    border: 1px solid #fff;
    overflow: hidden;
}

.infos {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.infor-box .infor-title {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.infor-box .infor-cont {
    text-align: justify;
    font-size: 18px;
    margin: 1rem;
}

.infor-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infor-box .infor-footer {
    font-size: .8rem;
}

.logo-box {
    width: 80%;
    height: 70px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    margin-top: 2rem;
}


span.contact-icon {
    font-size: 24px;
}

span.info-img {
    padding: 6px;
    border-radius: 50%;
    transition: .5s;
    font-size: 36px;
    cursor: pointer;
}

span.section-icon {
    font-size: 24px;
}

.info-cont-work {
    display: flex;
    justify-content: space-between;
}

.active-cont {
    display: block;
    animation: show .5s ease-in forwards;
}

span.active-img {
    position: relative;
    /* 惊喜哦 */
    border-bottom: 3px solid #ff0;
    font-size: 48px;
    color: #ff0;
}


@keyframes show {
    0% {
        opacity: 0.2;
        margin-top: 10%;
    }

    100% {
        opacity: 1;
        margin-top: 0%;
    }
}

.inner-cont-spec {
    width: 100%;
}

.grade {
    position: relative;
    border: 1px solid #fff;
    margin-bottom: 2rem;
    text-align: right;
}

.p15::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: #fff;
}

.p30::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: #fff;
}

.p45::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background-color: #fff;
}

.grade.border {
    margin-top: unset;
}

.border span {
    font-weight: 600;
    border: 1px solid;
}

.section-title {
    margin-bottom: 1rem;
    font-size: 24px;
}

@media screen and (max-width:768px) {
    .infor-box .infor-cont {
        font-size: 16px;
    }

    span.info-img {
        font-size: 24px;
    }

    span.active-img {
        font-size: 36px;
    }

    span.contact-icon {
        font-size: 18px;
    }

    .color-box {
        right: 1rem;
    }

    .svg-header {
        width: 330px;
    }

    .svg-footer {
        width: 300px;
    }

    svg .title {
        font-size: 2.5rem;
    }

    .qrcode {
        width: 160px;
        height: 160px;
    }

    .unit-box {
        width: 100%;
    }
}