.img-box {
    display: block;
    float: left;
    width: 9rem;
    margin-right: .8rem;
}

.pre-img {
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(../img/anchor.png);
    background-size: cover;
}

.pre-music {
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(../img/alizee.jpg);
    background-size: cover;
}

video {
    width: 100%;
    aspect-ratio: 16/9;
}

.pre-video {
    display: block;
    position: relative;
}

.pre-video:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
}

.pre-video:hover::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imgs/pre-play.png);
    background-size: cover;
}