.switch {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    animation: roll 5s linear infinite;
    animation-play-state: paused;
  }
  
  .switch.active {
    animation-play-state: running;
  }
  
  @keyframes roll {
    to {
      transform: rotate(360deg);
    }
  }
  
  .custom-audio {
    --per: 0%;
    position: relative;
    background-color: #dfe;
    display: flex;
    align-items: center;
    line-height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .custom-audio::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: var(--per);
    height: 2px;
    background-color: var(--warn-color);
  }
  
  #ctrl {
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    margin: 0 1rem;
  }
  
  .play {
    background-image: url(../img/Play.png);
  }
  
  .pause {
    background-image: url(../imgs/Pause.png);
  }
  
  .cur {
    margin-left: auto;
  }