:root {
    --main-color-red: #ff0f5b;
    --main-color-pur: #be01fe;
    --main-color-blue: #01b4ff;
    --main-color-gray: #dcdde1;
    --main-color-dark: #666;
    --main-color-w: #fff;
  }
  
  h1 {
    position: unset;
    line-height: 30px;
  }
  
  .input-tbl tr {
    border: none;
  }
  
  .input-tbl label {
    cursor: pointer;
  }
  
  .input-tbl input[type='text'],
  .input-tbl input[type='password'],
  .input-tbl select {
    width: 100%;
    height: 40px;
    border: 1px solid var(--bar-bg-color);
    padding: 0 10px;
    outline: none;
    font-size: 1rem;
    border-radius: 0.4rem;
  }
  
  .input-tbl input[type='radio'],
  .input-tbl input[type='checkbox'] {
    accent-color: var(--bar-bg-color);
  }
  
  #ta-bg {
    display: block;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 16/9;
    box-sizing: border-box;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    padding: 4px 10px;
    border: 1px solid var(--bar-bg-color);
    border-radius: 0.4rem;
    margin: 2rem auto;
  }
  
  /*  */
  .form input {
    border: none;
  }
  
  .form .border {
    border: 1px solid #ccc;
  }
  
  .form input[type=date],
  .form input[type=text],
  .form input[type=password] {
    flex: 1;
    height: 30px;
    outline: none;
    padding: 0 4px;
    font-size: inherit;
    font-family: inherit;
  }
  
  .form input[type=date] {
    height: 30px;
    outline: none;
    padding: 0 4px;
    font-size: inherit;
    font-family: inherit;
  }
  
  .form-item {
    display: flex;
    margin: 1rem auto;
  }
  
  .form-item>label {
    width: 80px;
    text-align-last: justify;
    margin-right: 10px;
  }
  
  .custom-wrap {
    position: relative;
  }
  
  #school-custom {
    appearance: none;
    width: 185px;
    height: 30px;
    border: 1px solid #ccc;
    outline: none;
    color: transparent;
    font: inherit;
    cursor: pointer;
  }
  
  #school-custom option {
    color: #333;
  }
  
  .custom-wrap .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    padding-left: 15px;
    color: #333;
    pointer-events: none;
  }
  
  .custom-wrap .iconfont {
    position: absolute;
    top: 0;
    left: 165px;
    color: inherit;
    pointer-events: none;
  }
  
  .custom-wrap:hover .mask,
  .custom-wrap:hover .iconfont {
    color: var(--bar-bg-color);
  }
  
  .btn {
    margin: auto;
    justify-items: flex-end;
  }
  
  /* checkbox */
  .cb-custom {
    display: block;
    margin: 2rem auto;
    width: 50px;
    height: 30px;
    border: 2px solid var(--main-color-gray);
    padding: 2px;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .cb-custom::before {
    content: '';
    position: relative;
    display: block;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: var(--main-color-gray);
    border-radius: 50%;
    transition: 0.4s;
  }
  
  #cb-custom:checked+.cb-custom::before {
    left: 50%;
    background-color: var(--main-color-blue);
  }
  
  .range-bar {
    appearance: none;
    display: block;
    width: 320px;
    margin: 1rem auto;
    background-image: linear-gradient(74deg, #16a085, #1abc9c);
    border-radius: 16px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
  
  .range-bar::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #f1c40f;
    border-radius: 50%;
    transition: 0.2s;
  }
  
  .range-bar:active::-webkit-slider-thumb {
    box-shadow: 0 0 10px 4px rgba(243, 156, 18, 0.4);
  }
  
  .fieldset fieldset {
    position: relative;
    width: 100%;
    height: 100px;
    border: 1px solid var(--main-color-dark);
    border-top: 10px solid var(--main-color-blue);
    margin: 0 0 2rem;
    padding: 0;
    box-sizing: border-box;
  }
  
  .fieldset legend {
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0 1rem;
    text-transform: capitalize;
  }
  
  .fieldset fieldset:nth-child(2) legend {
    position: absolute;
    right: 40px;
    top: -20px;
    background-color: #fff;
  }
  
  .fieldset fieldset:nth-child(3) {
    border-top: 1px solid var(--main-color-dark);
    border-bottom: 10px solid var(--main-color-blue);
  }
  
  .fieldset fieldset:nth-child(3) legend {
    position: absolute;
    left: 40px;
    bottom: -20px;
    background-color: #fff;
  }
  
  .range {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .range>* {
    width: 300px;
  }
  
  .datalist-h {
    display: flex;
    justify-content: space-between;
  }
  
  .range-box {
    display: flex;
    justify-content: center;
  }
  
  .range-box>* {
    width: 40px;
    height: 300px;
  }
  
  .range-v {
    appearance: slider-vertical;
  }
  
  .datalist-v {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  
  /* dice-pos */
  .dice-pos {
    position: relative;
    width: 125px;
    height: 125px;
    margin: 1rem auto;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .dice-pos label {
    position: absolute;
    left: 0;
    top: 0;
    width: 600%;
    height: 100%;
    background-image: url(../imgs/dice.jpg);
    animation: roll0 0.6s steps(6) infinite;
  }
  
  .dice-pos input:checked+label {
    animation-play-state: paused;
  }
  
  @keyframes roll0 {
    to {
      left: -600%;
    }
  }
  
  /* dice */
  .dice-box {
    width: 125px;
    height: 125px;
    border-radius: 20px;
    margin: 1rem auto;
    overflow: hidden;
  }
  
  .dice-box label {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/dice.jpg);
    background-position: -20%;
    animation: roll1 0.6s steps(6, start) infinite;
    cursor: pointer;
  }
  
  .dice-box input:checked+label {
    animation-play-state: paused;
  }
  
  @keyframes roll1 {
    to {
      background-position: 100%;
    }
  }
  
  /* custom input */
  .custom-ipt {
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
  }
  
  .custom-ipt::placeholder {
    color: #999;
  }
  
  .custom-ipt::selection {
    color: #089;
  }
  
  .custom-ipt:hover {
    border-color: #999;
  }
  
  .custom-ipt:focus,
  .custom-ipt:valid {
    border-color: var(--main-color-red);
    color: var(--main-color-red);
  }
  
  /* custom radio */
  .label-custom {
    cursor: pointer;
  }
  
  .label-custom input {
    display: none;
  }
  
  .label-custom span {
    vertical-align: middle;
  }
  
  .label-custom .radio {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #666;
  }
  
  .label-custom input:checked+.radio {
    border-color: var(--main-color-red);
  }
  
  .label-custom input:checked+.radio::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color-red);
  }
  
  .back {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--main-color-red);
    text-decoration: none;
    background-color: rgba(255, 255, 255, .2);
  }
  
  .back .iconfont {
    margin: auto;
    font-size: 2rem;
  }
  
  #demo-ipt-txt {
    background-color: var(--main-color-blue);
    color: var(--main-color-w);
  }
  
  #player button {
    width: 120px;
  }
  
  #player input {
    width: 100%;
  }
  
  .custom-range {
    appearance: none;
    height: 10px;
    background-color: #01b4ff;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
  }
  
  .custom-range::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #01b4ff;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .custom-range::-webkit-slider-thumb:hover {
    background-color: #ff0;
  }