label {
    cursor: pointer;
  }
  
  .img0 {
    object-fit: unset;
    background-color: #f40;
  }
  
  #assign-w:checked~.img0 {
    width: 320px;
  }
  
  #assign-h:checked~.img0 {
    height: 320px;
  }
  
  #contain:checked~.img0 {
    object-fit: contain;
  }
  
  #cover:checked~.img0 {
    object-fit: cover;
  }
  
  .basic {
    width: 320px;
    height: 320px;
    border: 1px solid #000;
    margin: 1rem auto;
  }
  
  .img1 {
    width: 100%;
    height: 100%;
  }
  
  .img2 {
    width: 320px;
    height: 320px;
    object-fit: cover;
  }
  
  .wrap {
    width: 320px;
    line-height: initial;
    border: 1px solid #000;
    margin: 1rem auto;
  }
  
  .img3 {
    display: unset;
  }
  
  #dis0:checked~.wrap .img3 {
    display: block;
  }
  
  #dis1:checked~.wrap .img3 {
    float: left;
  }
  
  #dis1:checked~.wrap::after {
    content: '';
    display: block;
    clear: both;
  }
  
  #dis2:checked~.wrap .img3 {
    vertical-align: middle;
  }
  
  #wrap0:checked~.wrap {
    font-size: 0;
  }
  
  #wrap1:checked~.wrap {
    line-height: 0;
  }
  
  #wrap2:checked~.wrap {
    display: flex;
  }
  
  .main-nav {
    text-align: center;
    margin: 2rem auto;
  }
  
  .main-nav img {
    display: unset;
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  
  .main-nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .main-nav a {
    text-decoration: none;
    font-weight: normal;
    color: #333;
  }
  
  .main-nav a:hover {
    color: #d4237a;
  }
  
  .avatar-img {
    width: 160px;
    aspect-ratio: 1/1;
    margin: 2rem auto;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  
  .avatar-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: middle;
  }