input[type='radio'] {
    accent-color: #f40;
  }
  
  label {
    cursor: pointer;
  }
  
  #sp:checked~table {
    border-collapse: separate;
  }
  
  #cl:checked~table {
    border-collapse: collapse;
  }
  
  #bs0:checked~table {
    border-spacing: 2px;
  }
  
  #bs1:checked~table {
    border-spacing: 10px;
  }
  
  .dual-tbl td {
    border: 1px solid var(--main-color-green);
  }
  
  .tbl-box {
    position: relative;
    z-index: 1;
  }
  
  .tbl-box::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #fed;
    z-index: -1;
  }
  
  .bold0 {
    border-collapse: separate;
  }
  
  .bold0 td {
    border: 1px solid var(--main-color-green);
  }
  
  #show:checked~.bold0 {
    empty-cells: show;
  }
  
  #hide:checked~.bold0 {
    empty-cells: hide;
  }
  
  .bold1 {
    border: 4px double #888;
  }
  
  .personal-tbl {
    text-transform: capitalize;
  }
  
  .personal-tbl caption {
    text-transform: uppercase;
  }
  
  .personal-tbl tr {
    cursor: pointer;
  }
  
  .personal-tbl tr:nth-child(odd) {
    background-color: #efe;
  }
  
  .personal-tbl:hover td {
    color: #ccc;
    text-shadow: 0 0 4px #ccc;
  }
  
  .personal-tbl tr:hover td {
    background-color: #ff0;
    color: #333;
  }
  
  .radius-tbl {
    border-collapse: separate;
    border-radius: 8px;
    border: 1px solid var(--main-color-green);
  }
  
  .radius-tbl td {
    border-bottom: 1px solid var(--main-color-green);
  }
  
  .radius-tbl tr:last-child td {
    border: none;
  }
  
  .radius-tbl-self tbody tr:first-child td:first-child {
    border-top-left-radius: 8px;
    background-color: #f40;
  }
  
  .radius-tbl-self tbody tr:first-child td:last-child {
    border-top-right-radius: 8px;
    background-color: #f40;
  }
  
  .radius-tbl-self td {
    border: none;
  }
  
  .list tr {
    cursor: pointer;
  }
  
  .list tr:hover {
    background-color: rgba(66, 211, 146, 0.2);
  }
  
  .list tr th:nth-child(1),
  .list tr td:nth-child(1) {
    width: 10%;
  }
  
  .list tr th:nth-child(2) {
    width: 20%;
  }
  
  .list tr th:nth-child(4) {
    width: 10%;
  }
  
  @media screen and (max-width:750px) {
    .pc thead tr {
      display: none;
    }
  
    .pc tr {
      display: block;
    }
  
    .pc td {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 50%;
    }
  
    .pc td::before {
      position: absolute;
      left: 0;
      font-weight: 700;
    }
  
    .pc td:nth-child(1)::before {
      content: 'sn';
    }
  
    .pc td:nth-child(2)::before {
      content: 'name';
    }
  
    .pc td:nth-child(3)::before {
      content: 'unit';
    }
  
    .pc td:nth-child(4)::before {
      content: 'gender';
    }
  }