@import url(//at.alicdn.com/t/c/font_3997790_7srhthpgugy.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color-white: #f3f3f3;
  --main-color-red: #ff0f5b;
  --main-color-purple: #be01fe;
  --main-color-blue: #4bc2ce;
  --main-color-green: #2dfc52;
  --main-color-orange: #ff7f50;
  --main-color-gray: #333849;
  --main-color-blank: #000;
  --main-color-code: #ffeedd;
}

html {
  background-color: var(--main-color-white);
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 28rem;
}

body {
  width: 100%;
  max-width: 1000px;
  font-size: 1.6rem;
  background-color: #fff;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  color: var(--main-color-red);
  font: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--main-color-red);
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table td {
  width: 50%;
  padding: 0 .4rem;
  font: inherit;
  line-height: 2;
  border: 1px solid var(--main-color-gray);
}

dl {
  padding: 1rem;
  counter-increment: chapter;
}

dt {
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 80px;
}

dt {
  line-height: 2;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 2rem auto 1rem;
}

dd {
  text-align: justify;
  margin-bottom: 10px;
  line-height: 1.5;
}

pre {
  width: 100%;
  font-family: 'poppins', 'Cambria Math', 'Courier New', Courier, monospace;
  color: var(--main-color-gray);
  background-color: var(--main-color-code);
  padding: 1rem;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-y: auto;
  overflow-x: auto;
}

header {
  position: sticky;
  top: 0;
  height: 20rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #fff;
  background-image: url(../project2/birdBanner.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
  z-index: 98;
}

.txt-center {
  text-align: center;
  margin-bottom: 2rem;
  counter-increment: sn;
}

.txt-center span {
  display: block;
  margin: 1rem auto 2rem;
  font-size: 1.4rem;
}

.txt-center span::before {
  content: '图' counter(chapter)'.' counter(sn)'. ';
}

.warn {
  color: var(--main-color-red);
}

.top-logo {
  position: absolute;
  left: 2rem;
  top: 2rem;
  width: 8rem;
  height: 8rem;
  background-blend-mode: multiply;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 0rem 1rem rgba(255, 255, 255, .1);
}

.timestamp {
  position: absolute;
  right: 1rem;
  bottom: 2.5rem;
  font-size: 1.8rem;
}

.iconfont {
  color: var(--main-color-red);
  font-size: 1.6rem;
}

.item-center .iconfont {
  font-size: 40px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 1rem;
  place-content: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 2rem;
  margin: 4rem auto;
}

.water-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.15), 4px 4px 4px rgba(0, 0, 0, 0.15), inset -4px -4px 4px rgba(255, 255, 255, 0.15);
  transition: 0.5s;
  cursor: pointer;
}

.water-box:hover {
  border-radius: 50%;
}

.water-box .iconfont {
  font-size: 3rem;
}

.chap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 2rem;
  height: 8rem;
  padding: 1rem;
  background-color: var(--main-color-blue);
  color: #fff;
  text-transform: capitalize;
  font-family: "Michroma";
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  background-color: #f46;
  color: #fff;
  padding: 1rem;
}

nav {
  position: sticky;
  top: 20rem;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  background-color: #333333;
  z-index: 99;
}

.logo {
  position: relative;
  background-color: #e95420;
  font-size: 3rem;
  padding: 0 2rem;
  line-height: 8rem;
}

.logo::after {
  content: '@';
  position: absolute;
  font-size: 1.6rem;
  left: 1rem;
  top: -2rem;
  font-family: Arial, Helvetica, sans-serif;
}

#ham {
  display: none;
}

#ham .close {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
  padding: 0 1rem;
  font-size: 1.8rem;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}

.top-sub-menu {
  font-size: 12px;
  text-transform: capitalize;
}

.reg {
  font-size: 14px;
  position: absolute;
  top: -0.8rem;
  right: 1rem;
}

.nav-item:hover {
  background-color: #2b2b2b;
}

.nav-link:hover {
  color: #e95420;
  text-decoration: none;
}

iframe {
  width: 100%;
  height: 64px;
}

@media screen and (max-width:768px) {
  html {
    scroll-padding-top: 18rem;
  }

  body.lock {
    overflow: hidden;
  }

  header {
    height: 12rem;
  }

  .top-logo {
    width: 4rem;
    height: 4rem;
  }

  nav {
    top: 12rem;
    width: 100%;
  }

  .logo {
    margin-right: auto;
    line-height: 6rem;
  }

  #ham {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 6rem;
  }

  #ham span:first-child {
    display: block;
    font-size: 2.4rem;
  }

  #ham span:last-child {
    display: none;
  }

  #ham.active span:first-child {
    display: none;
  }

  #ham.active span:last-child {
    display: block;
    font-size: 2.4rem;
  }

  .menu {
    position: fixed;
    top: 18rem;
    right: -100%;
    width: 100%;
    height: calc(100vh - 18rem);
    transition: 0.5s;
    background-color: #333;
    flex-direction: column;
  }

  .menu.active {
    right: 0;
  }

  .nav-link {
    height: 4rem;
    margin: 0;
  }

  .top-sub-menu {
    display: none;
  }

  .chap {
    height: 5rem;
    font-size: 1.8rem;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  iframe {
    height: 80px;
  }
}