@import url('https://fonts.font.im/css?family=Michroma');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    background-image: url(./imgs/bg.webp);
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: #ddd;

}

body::-webkit-scrollbar-thumb {
    background-color: #f40;
    border-radius: 12px;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f40;
    width: 100%;
    height: 60px;
    z-index: 1;
}

a {
    padding: 4px 10px;
    text-transform: uppercase;
    border-radius: 4px;
    font-family: 'Michroma', sans-serif;
}

a.active {
    background: #fff;
    color: #f40;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.7;
    padding: 20px;
}

h2 {
    font-family: 'Michroma', sans-serif;
}

p {
    text-align: justify;
    margin-bottom: 1em;
    text-indent: 2em;
    line-height: 1.5;
}

footer {
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}