header {
    background-image: url(/高级背景/微信图片_20230618113829.jpg);
    background-size: 100% 270px;
    background-attachment: fixed;
}

.basic {
    width: 320px;
    height: 180px;
    margin: 2rem auto;
    padding: 1rem;
}

.bg-origin {
    width: 320px;
    height: 180px;
    border: 20px dashed rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 1rem auto;
    background-color: #ff0;
    background-image: url(../imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: unset;
    background-origin: unset;
}

.bg-clip {
    width: 320px;
    height: 180px;
    border: 20px dashed rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 1rem auto;
    background-color: #ff0;
    background-image: url(../imgs/bg.jpg);
    background-repeat: no-repeat;
}

.bg-clip-border {
    background-clip: border-box;
}

.bg-clip-padding {
    background-clip: padding-box;
}

.bg-clip-content {
    background-clip: content-box;
}

.bg-attach-default {
    overflow-y: auto;
    background-image: url(../imgs/bg.jpg);
}

.bg-attach-fixed {
    overflow-y: auto;
    background-image: url(../imgs/bg.jpg);
    background-attachment: fixed;
}

.bg-attach-local {
    overflow-y: auto;
    background-image: url(../imgs/bg.jpg);
    background-attachment: local;
}