
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	border: 0;
	background: none;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
}
a:link,a:visited{color: #fff;text-decoration: none;}
a:hover{text-decoration: none;}
.head{
	width: 100%;
	margin: 0 auto;
	height: 50px;
	background: #000;
	
}
.head .left{
	float: left;
	padding-left: 50px;
	padding-top: 10px;
}

#nav{
	float: right;
	background: #000;
}
.nav{
	width: 700px;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
	font-size: 14px;
}
.nav li{
	float: left;
	padding-left: 50px;
	padding-top: 10px;
}
.nav a{
	display: inline-block;
	padding: 0 0px;
}
.nav a:hover{background: #000;}
.nav .color_in{background: #000;}
.banner .banner_pic .pic{display: none;}
.banner .banner_pic .current{display: block;}
.banner ol{
	position: absolute;
	left: 50%;
	top: 90%;
	bottom: 20%;
	margin-left: -62px;
}
.banner ol .but{
	float: left;
	width:28px;
	height: 1px;
	border: 1px solid #d6d6d6;
	margin-right: 20px;
}
.banner ol li{counter-increment: pointer;}
.banner ol .current{
	background: #fff;
	float: left;
	width: 28px;
	height: 1px;
	border: 1px solid #fff;
	margin-right: 20px;
}
.foot1{
	padding: 50px 0;
	width: 100%;
	height: 200px;
    background: #f5f5f5;
}
.foot1-new{
	width: 980px;
	height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.footer .foot1 .foot1-new ul{
	width: 100%;
    margin-top: 0;
    overflow: hidden;
    display: flex;
    position: relative;
}
.footer .foot1 .foot1-new ul li{
	width: 50%;
	text-align: center;
    float: none;
    margin-right: 0;
    display: inline-block;
}
.tits{
	height: 50px;
    font-size: 30px;
    line-height: 36px;
    color: #444444;
}
.tit{
	margin-top: 20px;
	height: 72px;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
#learn{
	width: 980px;
	margin: 0 auto;
}
h2{
	font-weight: 100;
	font-size: 24px;
	color: #7fbe26;
	padding: 40px 0;
	border-bottom: 7px solid #ececec;
}
#learn dl{
	width: 980px;
	height: 220px;
}
#learn dt{
	width: 145px;
	height: 220px;
	background: url(6.jpeg)center center no-repeat;
	float: left;
}
#learn dd{
	width: 780px;
	padding: 20px 0 0 30px;
	float: left;
}
#learn .txt1{
	font-size: 15px;
	color: #000;
}
#learn .txt2{
	color: #7fbe26;
	line-height: 20px;
	font-size: 20px;
}
.imgbox{
	width: 940px;
	padding: 0 20px;
	white-space: nowrap;
	overflow: hidden;
}
.imgbox img{
	width: 226px;
	height: 129px;
	padding: 2px;
}
.imgbox a{margin-right: 20px;}
.foot2{
	height: auto;
	
.cc{
	width: 100%;
    height: 48px;
    margin-top: 50px;
}
.c{
	width: 143px;
    height: 48px;
    background: #7fbe26;
    border: none;
    line-height: 48px;
}
 .imf a{
	width: 139px;
    height: 44px;
    border: 2px solid #fff;
    border-radius: 44px;
    display: block;
    float: left;
    margin-right: 9px;
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #fff;
}









}